<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pd.mapper.HisChargeMapper">

	<sql id="HisChargeInfColumns">
        a.id,
        a.create_by,
		a.create_time,
		a.update_by,
		a.update_time,
		a.sys_org_code,
		a.del_flag,
		a.fsf_xmbh,
		a.fsf_xmmc,
		a.fsf_xmgg,
		a.fsf_spec,
		a.fsf_version,
		a.fsf_unitname,
		a.fsf_vender,
		a.fsf_supplier,
		a.fsf_ksbh,
		a.fsf_ks,
		a.fsf_xmlb,
		a.fsf_je
	</sql>
    <!--查询HIS系统收费项目基础信息-->
	<select id="selectByHisCharge" parameterType="java.lang.String" resultType="org.jeecg.modules.pd.entity.HisChargeInf">
		select  * from v_spd_his_sf_xm
	</select>

    <!--删除所有收费项目基础信息-->
	<delete id="deleteChargeInf">
		DELETE 	FROM  ex_his_charge_inf
    </delete>



	<!-- 列表查询 -->
	<select id="selectList" resultType="org.jeecg.modules.pd.entity.HisChargeInf">
		SELECT
		<include refid="HisChargeInfColumns"/>,
		b.b.fsf_ksmc as "departName"
		FROM ex_his_charge_inf a
		left join ex_his_depart_inf b  on a.fsf_ks=b.fsf_ksbh
		where 1=1 AND	a.del_flag =#{DEL_FLAG_NORMAL}
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
        <if test="fsfXmbh != null and fsfXmbh != ''">
            AND a.fsf_xmbh LIKE concat('%',#{fsfXmbh},'%')
        </if>
        <if test="fsfXmmc != null and fsfXmmc != ''">
            AND a.fsf_xmmc LIKE concat('%',#{fsfXmmc},'%')
        </if>
		<if test="departName != null and departName != ''">
			AND b.fsf_ksmc LIKE concat('%',#{departName},'%')
		</if>
	</select>


	<!-- 列表查询 -->
	<select id="selectListByPage" resultType="org.jeecg.modules.pd.entity.HisChargeInf">
		SELECT
		<include refid="HisChargeInfColumns"/>,
		b.b.fsf_ksmc as "departName"
		FROM ex_his_charge_inf a
		left join ex_his_depart_inf b  on a.fsf_ks=b.fsf_ksbh
		where 1=1 AND	a.del_flag =#{entity.DEL_FLAG_NORMAL}
		<if test="entity.id != null and entity.id != ''">
			AND a.id = #{entity.id}
		</if>
		<if test="entity.fsfXmbh != null and entity.fsfXmbh != ''">
			AND a.fsf_xmbh LIKE concat('%',#{entity.fsfXmbh},'%')
		</if>
		<if test="entity.fsfXmmc != null and entity.fsfXmmc != ''">
			AND a.fsf_xmmc LIKE concat('%',#{entity.fsfXmmc},'%')
		</if>
		<if test="entity.departName != null and entity.departName != ''">
			AND b.fsf_ksmc LIKE concat('%',#{departName},'%')
		</if>
	</select>



	<!--查询HIS系统科室信息-->
	<select id="selectHisDepart" parameterType="java.lang.String" resultType="org.jeecg.modules.pd.entity.HisDepartInf">
		select  * from v_spd_his_ks
	</select>

	<!--查询HIS系统用户信息-->
	<select id="selectHisUser" parameterType="java.lang.String" resultType="org.jeecg.modules.pd.entity.HisUserInf">
		select  * from v_spd_his_users
	</select>



	<!--查询HIS系统病人信息  手術項目-->
	<select id="queryPatientInfoSS"   resultType="org.jeecg.modules.pd.entity.PdDosage">
		select
		a.fsf_zyh as "inHospitalNo",-- 住院号
		a.fsf_zyhm as "medicalRecordNo",-- 病历号
		a.fsf_cs as "hospitalizationsNum",-- 住院次数
        a.fsf_xm as "patientInfo",  -- 病人姓名
        a.fsf_ssks as "oprDeptId",-- 手术科室
        s.fsf_ksmc as "oprDeptName",-- 手术科室名称
        a.fsf_brbs as "operativeNumber",-- 病人手术编号
        a.fsf_ssmc as "operationName",  -- 手术名称
        a.fsf_sssj as "operationTime",  -- 手术时间
         /*a.fsf_ks as "oprDeptName",-- 申请科室*/
        a.fsf_ksdm as "sqrtDoctorId",-- 申请科室代码
        a.fsf_brch as "bedNumber",-- 病人床号
        a.fsf_xb as "fsfXb",-- 性别
        a.fsf_csrq as "fsfCsrq",-- 出生日期
        a.fsf_zjhm as "fsfZjhm",-- 证件号码
        a.fsf_ryrq as "admissionDate",-- 入院日期
        a.fsf_zzys as "surgeonName"-- 诊治医生
         from [v_spd_his_person] a
         LEFT JOIN   v_spd_his_ks s  on s.fsf_ksbh=a.fsf_ssks
           where  a.fsf_zyhm=#{medicalRecordNo}
	</select>


	<!--查询HIS系统门诊病人退费信息-->
	<select id="queryMztfList"   resultType="java.util.Map">
		select  * from  [v_spd_his_person_mzt]   where  fsf_xh=#{id}
	</select>

	<!--查询HIS系统病人信息  门诊病人-->
	<select id="queryPatientInfoMZ"   resultType="org.jeecg.modules.pd.entity.PdDosage">
		select
		a.fsf_brid_mz as "medicalRecordNo",  --病人id
        a.fsf_brxm_mz as "patientInfo",  -- 病人姓名
        a.fsf_brkh_mz as "outpatientNumber",  -- 病人卡号
        a.fsf_csny_mz as "fsfCsrq",  -- 出生年月
        /*a.fsf_sfzh_mz as "",  -- 收费账号*/
        /*a.fsf_hkdz_mz as "",-- 户口地址*/
        /*a.fsf_jtdh_mz as "", -- 联系电话*/
        a.fsf_brxb_mz as "fsfXb",  -- 性别
        /*a.fsf_jzhm_mz as "fsfJzhmMz",*/
        /*a.fsf_ghxh_mz as "fsfGhxhMz",*/
        a.fsf_jzxh_mz as "extension2",
        a.fsf_yjxh_mz as "extension1",
        a.fsf_kssj_mz as "admissionDate",-- 检查日期
        a.fsf_ksdm_mz as "oprDeptId",-- 执行科室代码
        s.fsf_ksmc as "oprDeptName"-- 执行科室名称
		  from v_spd_his_mz  a
		  LEFT JOIN   v_spd_his_ks s  on s.fsf_ksbh=a.fsf_ksdm_mz
		  where  a.fsf_brkh_mz=#{outpatientNumber}
	</select>




	<!--查询检验項目明細信息-->
	<select id="selectExjianYan"   resultType="org.jeecg.modules.external.entity.ExInspectionItems">
		select
		FSF_ID as "jyId",
		fsf_xm as "patientName",
		fsf_xb as "patientSex",
		patientAge as "patientAge",
		 fsf_zyh as "cardId",
		<!--barCode as "barCode",-->
       <!--REQUESTTIME as "receiveDate",-->
      fsf_ksdm as "applyDepartment",
      fsf_jyks as "testDepartment",
      patientType as "patientType",
      combinationName as "combinationName",
      fsf_jyxmbh as "testItemCode",
      fsf_jymc as "testItemName",
      fsf_jysj as "testDate"
      from  [v_spd_his_JYperson]   where
       1=1
      <if test="queryDateEnd != null and queryDateEnd != ''">
           <!--AND  fsf_jysj >= #{queryDateEnd}-->
			AND  fsf_jysj >='2020-05-05'
		</if>
	</select>
</mapper>