<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pd.mapper.PdApplyOrderMapper">

    <sql id="PdApplyOrderColumns">
        a.id,
        a.create_by,
		a.create_time,
		a.update_by,
		a.update_time,
		a.sys_org_code,
        a.apply_no,
        a.apply_by,
        a.apply_date,
        a.dept_id,
        a.fact_num,
        a.audit_status,
        a.audit_by,
        a.audit_date,
        a.refuse_reason,
        a.is_in_refund,
        a.is_end,
        a.apply_num,
        a.submit_status,
		a.remarks,
		a.del_flag
	</sql>

    <sql id="PdApplyOrderJoins">
    </sql>


    <!--用户-->
    <sql id="pdSysUserColumns">
        b.realname as "realname"
	</sql>
    <sql id="pdSysUserJoins">
        LEFT JOIN sys_user b ON b.id = a.apply_by
    </sql>

    <!-- 列表查询 -->
    <select id="selectList" resultType="org.jeecg.modules.pd.vo.PdApplyOrderPage">
        SELECT
        <include refid="PdApplyOrderColumns"/>,
        <include refid="pdSysUserColumns"/>
        FROM pd_apply_order a
        <include refid="PdApplyOrderJoins"/>
        <include refid="pdSysUserJoins"/>
        <where>
            a.del_flag =#{DEL_FLAG_NORMAL}
            <if test="id != null and id != ''">
                AND a.id = #{id}
            </if>
            <if test="applyNo != null and applyNo != ''">
                AND a.apply_no = #{applyNo}
            </if>
            <if test="auditStatus != null and auditStatus != ''">
                AND a.audit_status = #{auditStatus}
            </if>
            <if test="submitStatus != null and submitStatus != ''">
                AND a.submit_status = #{submitStatus}
            </if>
            <if test="submitStatusList != null and submitStatusList.size() > 0">
                and a.submit_status IN
                <foreach collection="submitStatusList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            ORDER BY a.apply_date DESC
        </where>
    </select>
</mapper>