<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pd.mapper.PdApplyOrderMapper">

    <sql id="PdApplyOrderColumns">
        a.id,
        a.create_by,
		a.create_time,
		a.update_by,
		a.update_time,
		a.sys_org_code,
        a.apply_no,
        a.apply_by,
        a.apply_date,
        a.depart_id,
        a.fact_num,
        a.audit_status,
        a.audit_by,
        a.audit_date,
        a.refuse_reason,
        a.is_in_refund,
        a.is_end,
        a.total_num,
        a.submit_status,
		a.remarks,
		a.del_flag
	</sql>

    <sql id="PdApplyOrderJoins">
    </sql>


    <!--用户-->
    <sql id="pdSysUserColumns">
        b.realname as "realname"
	</sql>
    <sql id="pdSysUserJoins">
        LEFT JOIN sys_user b ON b.id = a.apply_by
    </sql>

    <!-- 科室 -->
    <sql id="sysDepartColumns">
        f.depart_name AS "deptName"
    </sql>

    <sql id="sysDepartJoins">
        LEFT JOIN sys_depart f ON a.depart_id = f.id
    </sql>

    <!-- 列表查询 -->
    <select id="selectList" resultType="org.jeecg.modules.pd.vo.PdApplyOrderPage">
        SELECT
        <include refid="PdApplyOrderColumns"/>,
        <include refid="pdSysUserColumns"/>,
        <include refid="sysDepartColumns"/>
        FROM pd_apply_order a
        <include refid="PdApplyOrderJoins"/>
        <include refid="pdSysUserJoins"/>
        <include refid="sysDepartJoins"/>
        <where>
            a.del_flag =#{DEL_FLAG_NORMAL}
            <if test="id != null and id != ''">
                AND a.id = #{id}
            </if>
            <if test="applyNo != null and applyNo != ''">
                AND a.apply_no = #{applyNo}
            </if>
            <if test="auditStatus != null and auditStatus != ''">
                AND a.audit_status = #{auditStatus}
            </if>
            <if test="submitStatus != null and submitStatus != ''">
                AND a.submit_status = #{submitStatus}
            </if>
            <if test="deptName != null and deptName != ''">
                AND f.depart_name = #{deptName}
            </if>
            <if test="departId != null and departId != ''">
                AND a.depart_id = #{departId}
            </if>
            <if test="submitStatusList != null and submitStatusList.size() > 0">
                and a.submit_status IN
                <foreach collection="submitStatusList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            ORDER BY   audit_status , update_time DESC
        </where>
    </select>


    <!-- 用于采购订单选择框 -->
    <select id="chooseApplyOrderList" resultType="org.jeecg.modules.pd.vo.PdApplyOrderPage"  parameterType="org.jeecg.modules.pd.vo.PdApplyOrderPage">
        SELECT DISTINCT
        a.id as id,
        a.apply_no as applyNo,
        a.apply_date as applyDate,
        a.total_num as totalNum,
        f.depart_name AS deptName,
        a.audit_status as auditStatus,
        c.realname as auditByName
        FROM   pd_apply_order a
        LEFT JOIN pd_apply_detail b on a.apply_no = b.apply_no
        LEFT JOIN sys_user c ON c.id = a.audit_by
        LEFT JOIN pd_product d on b.product_id = d.id
        LEFT JOIN sys_depart f ON a.depart_id = f.id
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            AND a.audit_status = '2'
            <if test="id != null and id != ''">
                AND a.id = #{id}
            </if>
            <if test="applyNo != null and applyNo != ''">
                AND a.apply_no LIKE concat('%',#{applyNo},'%')
            </if>
            <if test="productName != null and productName != ''">
                AND (
                d.name LIKE concat('%',#{productName},'%')
                or d.py LIKE concat('%',#{productName},'%')
                or d.wb LIKE concat('%',#{productName},'%')
                or d.bname LIKE concat('%',#{productName},'%')
                or d.bpy LIKE concat('%',#{productName},'%')
                or d.bwb LIKE concat('%',#{productName},'%')
                or d.zdy LIKE concat('%',#{productName},'%')
                )
            </if>
            <if test="number != null and number != ''">
                AND d.number LIKE concat('%',#{number},'%')
            </if>
            <if test="queryDateStart != null and queryDateStart != ''">
                AND a.apply_date &gt;= #{queryDateStart}
            </if>
            <if test="queryDateEnd != null and queryDateEnd != ''">
                AND a.apply_date &lt;= #{queryDateEnd}
            </if>
        </where>
        order  by a.apply_date desc
    </select>
</mapper>