<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pd.mapper.PdApplyDetailMapper">
	<sql id="pdApplyDetailColumns">
		a.id,
		a.create_by,
		a.create_time,
		a.update_by,
		a.update_time,
		a.sys_org_code,
		a.apply_no,
		a.product_id,
 		a.batch_no,
		a.package_id,
		a.package_num,
		a.exp_date,
		a.apply_num,
		a.stock_num,
		a.current_stock_num,
		IFNULL(a.arrival_num,0) as arrival_num,
		a.remarks,
		a.del_flag
	</sql>

	<!-- 单位 -->
	<sql id="pdUnitColumns">
        b.name AS "unitName"
    </sql>

	<sql id="pdUnitJoins">
        LEFT JOIN pd_unit b ON c.unit_id = b.id
    </sql>

	<!--产品-->
	<sql id="pdProductColumns">
		c.id as "productId",
        c.number as "number",
        c.name as "productName",
        c.spec as "spec",
        c.version as "version"
	</sql>
	<sql id="pdProductJoins">
        LEFT JOIN pd_product c ON c.id = a.product_id
    </sql>

	<!--套包-->
	<sql id="pdPackageColumns">
		 d.package_name AS "packageName",
         d.package_code AS "packageCode"

	</sql>
	<sql id="pdPackageJoins">
       LEFT JOIN pd_package d ON a.package_id=d.id
    </sql>

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE FROM  pd_apply_detail WHERE id = #{mainId}
    </delete>

    <delete id="deleteByApplyNo" parameterType="java.lang.String">
		DELETE FROM  pd_apply_detail 	WHERE apply_no = #{applyNo}
   </delete>

	<select id="selectByApplyNo"   resultType="org.jeecg.modules.pd.entity.PdApplyDetail">
		SELECT
		<include refid="pdApplyDetailColumns"/>,
		<include refid="pdProductColumns"/>,
		<include refid="pdUnitColumns"/>,
		<include refid="pdPackageColumns"/>
		FROM  pd_apply_detail a
		<include refid="pdProductJoins"/>
		<include refid="pdUnitJoins"/>
		<include refid="pdPackageJoins"/>
		 WHERE 1=1
		<if test="applyNo != null and applyNo != ''">
			AND a.apply_no = #{applyNo}
		</if>
		<if test="productAttr != null and productAttr != ''">
			AND a.product_attr = #{productAttr}
		</if>
		  ORDER BY a.create_time DESC
    </select>

	<!-- 增加发货数量 用于出库保存/提交 add by jiangxz 20200309 -->
	<update id="additionArrivalNum" parameterType="org.jeecg.modules.pd.entity.PdApplyDetail">
		UPDATE
			pd_apply_detail
		SET
			arrival_num = IFNULL(arrival_num,0) + #{arrivalNum}
		WHERE
			del_flag =#{DEL_FLAG_NORMAL}
			and apply_no = #{applyNo}
			and product_id = #{productId}
	</update>

	<!-- 扣减发货数量 用于出库拒绝 add by jiangxz 20200309 -->
	<update id="subtractArrivalNum" parameterType="org.jeecg.modules.pd.entity.PdApplyDetail">
		UPDATE
			pd_apply_detail
		SET
			arrival_num = IFNULL(arrival_num,0) - #{arrivalNum}
		WHERE
			del_flag =#{DEL_FLAG_NORMAL}
			and apply_no = #{applyNo}
			and product_id = #{productId}
	</update>



    <!--查询套包申领明细-->
	<select id="queryApplyDetailPack"   resultType="org.jeecg.modules.pd.entity.PdApplyDetail">
       select
           a.package_id as "packageId",
           a.id as "packageRecordId",
           a.remarks as "remarks",
           a.package_bar_code as "packageBarCode",
           a.create_by as "createBy",
           a.create_time as "createTime",
           "1" as "applyNum",
           c.package_code as "packageCode",
           c.package_name as "packageName",
           c.package_sum as "packageSum"
          from pd_package_record   a
           left join pd_package c on c.id=a.package_id
          where a.id in(select   b.package_record_id from pd_apply_detail b where 1=1
		<if test="applyNo != null and applyNo != ''">
			AND b.apply_no = #{applyNo}
		</if>
		<if test="productAttr != null and productAttr != ''">
			AND b.product_attr = #{productAttr}
		</if>
		<if test="packageRecordId != null and packageRecordId != ''">
			AND b.package_record_id = #{packageRecordId}
		</if>

          GROUP BY b.package_record_id
      )



	     </select>
</mapper>
