<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pd.mapper.PdDosageMapper">

    <sql id="pdDosageColumns">
        a.id,
        a.dosage_no,
        a.dosage_date,
        a.total_sum,
        a.total_price,
        a.patient_info,
        a.patient_detail_info,
        a.exe_dept_id,
        a.exe_dept_name,
        a.opr_dept_id,
        a.opr_dept_name,
        a.surgeon_id,
        a.surgeon_name,
        a.sqrt_doctor_id,
        a.sqrt_doctor_name,
        a.in_hospital_no,
        a.dosage_by,
        a.subordinate_ward_id,
        a.subordinate_ward_name,
        a.outpatient_number,
        a.operative_number,
        a.display_flag,
        a.hy_charged,
        a.create_by,
        a.create_time,
        a.update_by,
        a.update_time,
        a.sys_org_code,
        a.remarks,
        a.depart_id,
        a.depart_parent_id,
        a.medical_record_no,
        a.operation_name,
        a.hospitalizations_num,
        a.sqrt_doctor_id,
        a.exe_dept_name,
        a.del_flag,
        a.visit_no,
        a.dosage_type
	</sql>

    <!-- 产品 -->
    <sql id="pdProductColumns">
        pp.id,
        pp.number,
        pp.name as productName,
        pp.py,
        pp.wb,
        pp.bname,
        pp.bpy,
        pp.bwb,
        pp.zdy,
        pp.spec,
        pp.version,
        pp.unit_id,
        pp.power,
        pp.category_one,
        pp.category_two,
        pp.group_id,
        pp.vender_id,
        pp.supplier_id,
        pp.purchase_price,
        pp.selling_price,
        pp.registration,
        pp.description,
        pp.is_charge,
        pp.charge_code,
        pp.is_urgent,
        pp.up_quantity,
        pp.purchased_quantity,
        pp.create_by,
        pp.create_time,
        pp.update_by,
        pp.update_time,
        pp.sys_org_code,
        pp.remarks,
        pp.jde_code,
        pp.validity_flag,
        pp.biding_number,
        pp.del_flag
    </sql>
    <sql id="pdProductJoins">
		LEFT JOIN pd_product pp on dd.product_id = pp.id
	</sql>

    <!-- 用量详情 -->
    <sql id="pdDosageDetailColumns">
        dd.id AS "pdDosageDetailId",
		dd.product_bar_code AS "productBarCode",
		dd.batch_no AS "batchNo",
		dd.exp_date AS "expDate",
		dd.dosage_count AS "dosageCount",
		dd.amount_money AS "amountMoney",
		dd.hy_charged AS "dhyCharged",
		dd.charge_code AS "chargeCode",
		dd.ref_bar_code AS "refBarCode"
	</sql>
    <sql id="pdDosageDetailJoins">
		LEFT JOIN pd_dosage_detail dd on a.id = dd.dosage_id
	</sql>


    <!-- 供应商 -->
    <sql id="pdSupplierColumns">
      e.`name` AS "supplierName"
    </sql>
    <sql id="pdSupplierJoins">
      left join pd_supplier e on pp.supplier_id = e.id
    </sql>

    <!-- 生产厂家 -->
    <sql id="pdVenderColumns">
      f.`name` AS "venderName"
    </sql>
    <sql id="pdVenderJoins">
      left join pd_vender f on pp.vender_id = f.id
    </sql>

    <!-- 单位 -->
    <sql id="pdUnitColumns">
        b.`name` AS "unitName"
    </sql>
    <sql id="pdUnitJoins">
        LEFT JOIN pd_unit b ON pp.unit_id = b.id
    </sql>

    <!-- 科室 -->
    <sql id="sysDepartColumns">
        sd.depart_name AS "departName"
    </sql>

    <!--用户-->
    <sql id="pdSysUserColumns">
        b.realname AS dosageByName
	</sql>
    <sql id="pdSysUserJoins">
        LEFT JOIN sys_user b ON b.id = a.dosage_by
    </sql>

    <sql id="sysDepartJoins">
        LEFT JOIN sys_depart sd ON a.depart_id = sd.id
    </sql>


    <sql id="pdGoodsAllocationColumns">
      g.name AS "outHuoweiName"
    </sql>
    <sql id="pdGoodsAllocation">
        LEFT JOIN pd_goods_allocation g ON dd.out_huowei_code = g.code
    </sql>

    <select id="selectList" resultType="org.jeecg.modules.pd.entity.PdDosage" parameterType="org.jeecg.modules.pd.entity.PdDosage">
        SELECT
        <include refid="pdDosageColumns"/>,
        b.realname AS dosageByName
        FROM
        `pd_dosage` a
        LEFT JOIN sys_user b ON a.dosage_by = b.id
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <if test="dosageNo != null and dosageNo != ''">
                AND a.dosage_no = #{dosageNo}
            </if>
            <if test="inHospitalNo != null and inHospitalNo != ''">
                AND a.in_hospital_no = #{inHospitalNo}
            </if>
            <if test="dosageBy != null and dosageBy != ''">
                AND a.dosage_by = #{dosageBy}
            </if>
            <if test="departId != null and departId != ''">
                AND a.depart_id = #{departId}
            </if>
            <if test="departParentId != null and departParentId != ''">
                AND a.depart_parent_id = #{departParentId}
            </if>
        </where>
        ORDER BY a.update_time desc,a.create_time desc
    </select>

    <select id="selectListByPage" resultType="org.jeecg.modules.pd.entity.PdDosage" parameterType="org.jeecg.modules.pd.entity.PdDosage">
        SELECT
        <include refid="pdDosageColumns"/>,
        <include refid="sysDepartColumns"/>,
        b.realname AS dosageByName
        FROM  `pd_dosage` a
        <include refid="sysDepartJoins"/>
        LEFT JOIN sys_user b ON a.dosage_by = b.id
        <where>
            a.del_flag = #{entity.DEL_FLAG_NORMAL}
            <if test="entity.dosageNo != null and entity.dosageNo != ''">
                AND a.dosage_no = #{entity.dosageNo}
            </if>
            <if test="entity.inHospitalNo != null and entity.inHospitalNo != ''">
                AND (a.in_hospital_no LIKE concat('%', #{entity.inHospitalNo},'%') or a.outpatient_number LIKE concat('%',#{entity.inHospitalNo},'%'))
            </if>
            <if test="entity.dosageBy != null and entity.dosageBy != ''">
                AND a.dosage_by = #{entity.dosageBy}
            </if>
            <if test="entity.departId != null and entity.departId != ''">
                AND a.depart_id = #{entity.departId}
            </if>
            <if test="entity.departIdList != null and entity.departIdList.size() > 0">
                and a.depart_id IN
                <foreach collection="entity.departIdList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="entity.departParentId != null and entity.departParentId != ''">
                AND a.depart_parent_id = #{entity.departParentId}
            </if>
        </where>
        ORDER BY a.update_time desc,a.create_time desc
    </select>

    <!-- 根据时间范围统计当日使用量 -->
    <select id="queryPdDosageCount" resultType="java.util.Map" >
        SELECT
        sum(a.total_sum) AS "orderCount",
        sum(b.total_sum) AS "dayOrderNum"
        FROM
        pd_dosage a
        LEFT JOIN pd_dosage b ON a.id = b.id
        AND DATE_FORMAT(b.dosage_date,'%Y-%m-%d') = DATE_FORMAT(#{dosageDate}, '%Y-%m-%d')
        <where>
        a.del_flag = #{DEL_FLAG_NORMAL}
        <if test="departId != null and departId != ''">
            AND a.depart_id = #{departId}
        </if>
        <if test="departParentId != null and departParentId != ''">
            AND a.depart_parent_id = #{departParentId}
        </if>
        <if test="departIdList != null and departIdList.size() > 0">
            and a.depart_id IN
            <foreach collection="departIdList" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
            <if test="queryDateStart != null and queryDateStart != ''">
                AND a.dosage_date &gt;= #{queryDateStart}
            </if>
            <if test="queryDateEnd != null and queryDateEnd != ''">
                AND a.dosage_date &lt;= #{queryDateEnd}
            </if>
        </where>
    </select>


    <!-- 统计前一周的使用量 -->
    <select id="queryPdDosageDateList" resultType="java.util.Map" >
        SELECT
        date(c.dday) as x,
        sum(c.y) as y   FROM
        (
        SELECT   datelist as dday ,"0" as y FROM   calendar
        where  DATE_SUB(CURDATE(), INTERVAL 6 DAY) &lt;= date(datelist)
        and date(datelist)&lt;=CURDATE()
        UNION ALL
        SELECT
        a.dosage_date AS dday,
        a.total_sum AS y
        FROM
        pd_dosage a
        <where>
        a.del_flag = #{DEL_FLAG_NORMAL}
        <if test="departId != null and departId != ''">
            AND a.depart_id = #{departId}
        </if>
        <if test="departParentId != null and departParentId != ''">
            AND a.depart_parent_id = #{departParentId}
        </if>
        <if test="departIdList != null and departIdList.size() > 0">
            and a.depart_id IN
            <foreach collection="departIdList" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        </where>
        AND  DATE_SUB(CURDATE(), INTERVAL 6 DAY) &lt;= date(a.dosage_date)
        and date(a.dosage_date) &lt;=CURDATE()
        ) c
        GROUP BY x
    </select>

    <!-- 首页查询  根据采购产品类区分统计使用金额  -->
    <select id="queryPdDosageTotalList" resultType="java.util.Map" >
        select
        IFNULL(d.name,'其他') as x,
        IFNULL(sum(a.total_price),0) as y,
        sum(b.dosage_count) as z
        from pd_dosage a
        left join pd_dosage_detail b on a.id=b.dosage_id
        left join pd_product c on b.product_id=c.id
        left join pd_category d on d.id=c.category_two
        where a.del_flag='0'
        <!--AND  DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt;= date(a.dosage_date) and date(a.dosage_date) &lt;=CURDATE()-->
        <if test="departIdList != null and departIdList.size() > 0">
            and a.depart_id IN
            <foreach collection="departIdList" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="departParentId != null and departParentId != ''">
            AND a.depart_parent_id = #{departParentId}
        </if>
        <if test="queryDateStart != null and queryDateStart != ''">
            AND a.dosage_date &gt;= #{queryDateStart}
        </if>
        <if test="queryDateEnd != null and queryDateEnd != ''">
            AND a.dosage_date &lt;= #{queryDateEnd}
        </if>
        group by x  order by y desc
    </select>


    <!-- 统计查询-用量使用 -->
    <select id="queryPdDosageList" resultType="org.jeecg.modules.pd.entity.PdDosage" parameterType="org.jeecg.modules.pd.entity.PdDosage">
        SELECT
        <include refid="pdDosageColumns"/>,
        su.realname AS dosageByName,
        <include refid="pdDosageDetailColumns"/>,
        <include refid="pdProductColumns"/>,
        <include refid="pdUnitColumns"/>,
        <include refid="pdSupplierColumns"/>,
        <include refid="pdVenderColumns"/>,
        <include refid="sysDepartColumns"/>,
        <include refid="pdGoodsAllocationColumns"/>
        FROM pd_dosage a
        LEFT JOIN sys_user su ON a.dosage_by = su.id
        <include refid="pdDosageDetailJoins"/>
        <include refid="pdProductJoins"/>
        <include refid="pdUnitJoins"/>
        <include refid="pdSupplierJoins"/>
        <include refid="pdVenderJoins"/>
        <include refid="sysDepartJoins"/>
        <include refid="pdGoodsAllocation"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <if test="dosageNo != null and dosageNo != ''">
                AND a.dosage_no = #{dosageNo}
            </if>
            <if test="departId != null and departId != ''">
                AND a.depart_id = #{departId}
            </if>
            <if test="departParentId != null and departParentId != ''">
                AND a.depart_parent_id = #{departParentId}
            </if>
            <if test="departIdList != null and departIdList.size() > 0">
                AND a.depart_id IN
                <foreach collection="departIdList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="inHospitalNo != null and inHospitalNo != ''">
                AND a.in_hospital_no = #{inHospitalNo}
            </if>
            <if test="patientInfo != null and patientInfo != ''">
                AND a.patient_info LIKE concat('%',#{patientInfo},'%')
            </if>
            <if test="productName != null and productName != ''">
                AND (pp.name LIKE concat('%',#{productName},'%')
                or pp.py LIKE concat('%',#{productName},'%')
                or pp.wb LIKE concat('%',#{productName},'%')
                or pp.zdy LIKE concat('%',#{productName},'%')
                or pp.bname LIKE concat('%',#{productName},'%')
                or pp.bpy LIKE concat('%',#{productName},'%')
                or pp.bwb LIKE concat('%',#{productName},'%')
                )
            </if>
            <if test="version != null and version != ''">
                AND pp.version = #{version}
            </if>
            <if test="spec != null and spec != ''">
                AND pp.spec = #{spec}
            </if>
            <if test="categoryOne != null and categoryOne != ''">
                AND pp.category_one = #{categoryOne}
            </if>
            <if test="productNumber != null and productNumber != ''">
                AND pp.number LIKE concat('%',#{productNumber},'%')
            </if>
            <if test="batchNo != null and batchNo != ''">
                AND dd.batch_no = #{batchNo}
            </if>
            <if test="hyChargedList != null and hyChargedList.size() > 0">
                AND dd.hy_charged IN
                <foreach collection="hyChargedList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="hyCharged != null and hyCharged != ''">
                AND dd.hy_charged = #{hyCharged}
            </if>
            <if test="refBarCode != null and refBarCode != ''">
                AND dd.ref_bar_code = #{refBarCode}
            </if>
            <if test="supplierId != null and supplierId != ''">
                AND e.supplier_id = #{supplierId}
            </if>
            <if test="queryDateStart != null and queryDateStart != ''">
                AND date_format(a.dosage_date, "%Y-%m-%d") &gt;= #{queryDateStart}
            </if>
            <if test="queryDateEnd != null and queryDateEnd != ''">
                AND date_format(a.dosage_date, "%Y-%m-%d") &lt;= #{queryDateEnd}
            </if>
            order by a.create_time desc
        </where>
    </select>

    <select id="getByOne" resultType="org.jeecg.modules.pd.entity.PdDosage">
        SELECT
        <include refid="pdDosageColumns"/>,
        <include refid="pdSysUserColumns"/>,
        <include refid="sysDepartColumns"/>
        FROM pd_dosage a
        <include refid="pdSysUserJoins"/>
        <include refid="sysDepartJoins"/>
        <where>
            a.del_flag =#{DEL_FLAG_NORMAL}
            <if test="id != null and id != ''">
                AND a.id = #{id}
            </if>
            order by create_time desc
        </where>
    </select>

</mapper>