<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pd.mapper.PdDosageDetailMapper">

    <sql id="PdProductColumns">
        b.number as productNumber,
        b. NAME as productName,
        b.spec,
        b.version,
        b.unit_id,
        b.purchase_price,
        b.selling_price,
        b.is_charge,
        b.charge_code,
        IF(b.is_charge=0,'是','否') isChargeText
    </sql>

    <sql id="pdGoodsAllocationColumns">
      g.name AS "outHuoweiName"
    </sql>
    <sql id="pdGoodsAllocation">
        LEFT JOIN pd_goods_allocation g ON a.out_huowei_code = g.code
    </sql>


    <select id="selectList" resultType="org.jeecg.modules.pd.entity.PdDosageDetail" parameterType="org.jeecg.modules.pd.entity.PdDosageDetail">
        SELECT
        a.*,
        <include refid="PdProductColumns"/>,
        <include refid="pdGoodsAllocationColumns"/>,
        u.name as unitName
        FROM
        `pd_dosage_detail` a
        LEFT JOIN pd_product b ON a.product_id = b.id
        LEFT JOIN pd_unit u ON b.unit_id = u.id
        <include refid="pdGoodsAllocation"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <if test="dosageId != null and dosageId != ''">
                AND a.dosage_id = #{dosageId}
            </if>
        </where>
        ORDER BY a.update_time desc,a.create_time desc
    </select>
</mapper>