<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pd.mapper.PdEncodingRuleMapper">
    <resultMap id="resultMap" type="org.jeecg.modules.pd.entity.PdEncodingRule">
        <id column="id" property="id" jdbcType="VARCHAR"></id>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="py" property="py" jdbcType="VARCHAR"/>
        <result column="wb" property="wb" jdbcType="VARCHAR"/>
        <result column="zdy" property="zdy" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="del_flag" property="delFlag" jdbcType="VARCHAR"/>
        <collection property="pdEncodingRuleDetails" column="id" select="getPdEncodingRuleDetails"
                    ofType="org.jeecg.modules.pd.entity.PdEncodingRuleDetail">
        </collection>
    </resultMap>

    <sql id="pdEncodingRuleColumns">
		a.id AS "id",
		a.name AS "name",
		a.py AS "py",
		a.wb AS "wb",
		a.zdy AS "zdy",
		a.code_detail AS "codeDetail",
		a.code_desc AS "codeDesc",
		a.code_query AS "codeQuery",
		a.total_digit AS "totalDigit",
		a.create_by AS "createBy",
		a.create_time AS "createTime",
		a.update_by AS "updateBy",
		a.update_Time AS "updateTime",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag"
	</sql>

    <!-- 编码规则条件查询 -->
    <select id="selectList" resultMap="resultMap" parameterType="org.jeecg.modules.pd.entity.PdEncodingRule">
        SELECT
          <include refid="pdEncodingRuleColumns"/>
        FROM pd_encoding_rule a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
        </where>
        <if test="name != null and name != ''">
            AND a.name LIKE concat('%',#{name},'%')
            or a.py LIKE concat('%',#{name},'%')
            or a.wb LIKE concat('%',#{name},'%')
            or a.zdy LIKE concat('%',#{name},'%')
        </if>
        <if test="codeQuery != null and codeQuery != ''">
            AND a.code_query LIKE concat('%',#{codeQuery},'%')
        </if>

    </select>
    <!-- 查询编码规则的详情 -->
    <select id="getPdEncodingRuleDetails" resultType="org.jeecg.modules.pd.entity.PdEncodingRuleDetail">
        select * from pd_encoding_rule_detail a WHERE a.code_id = #{id}
    </select>
</mapper>