<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pd.mapper.PdEncodingRuleMapper">
    <resultMap id="resultMap" type="org.jeecg.modules.pd.entity.PdEncodingRule">
        <id column="id" property="id" jdbcType="VARCHAR"></id>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="py" property="py" jdbcType="VARCHAR"/>
        <result column="wb" property="wb" jdbcType="VARCHAR"/>
        <result column="zdy" property="zdy" jdbcType="VARCHAR"/>
        <result column="code_detail" property="codeDetail" jdbcType="VARCHAR"/>
        <result column="code_desc" property="codeDesc" jdbcType="VARCHAR"/>
        <result column="code_query" property="codeQuery" jdbcType="VARCHAR"/>
        <result column="total_digit" property="totalDigit" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="del_flag" property="delFlag" jdbcType="VARCHAR"/>
        <collection property="pdEncodingRuleDetails" ofType="org.jeecg.modules.pd.entity.PdEncodingRuleDetail">
            <id column="id" property="id" jdbcType="VARCHAR"/>
            <id column="code_id" property="codeId" jdbcType="VARCHAR"/>
            <id column="identifier" property="identifier" jdbcType="VARCHAR"/>
            <id column="length" property="length" jdbcType="VARCHAR"/>
            <id column="code_order" property="codeOrder" jdbcType="VARCHAR"/>
            <id column="create_by" property="createBy" jdbcType="VARCHAR"/>
            <id column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
            <id column="update_by" property="updateBy" jdbcType="VARCHAR"/>
            <id column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
            <id column="remarks" property="remarks" jdbcType="VARCHAR"/>
            <id column="del_flag" property="delFlag" jdbcType="VARCHAR"/>
            <id column="pdEncodingIdentifier.type" property="pdEncodingIdentifier.type" jdbcType="VARCHAR"/>
            <id column="pdEncodingIdentifier.value" property="pdEncodingIdentifier.value" jdbcType="VARCHAR"/>
            <id column="pdEncodingIdentifier.length" property="pdEncodingIdentifier.length" jdbcType="VARCHAR"/>
            <id column="pdEncodingIdentifier.meaning" property="pdEncodingIdentifier.meaning" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <sql id="pdEncodingRuleColumns">
		a.id,
		a.name ,
		a.py,
		a.wb,
		a.zdy,
		a.code_detail,
		a.code_desc,
		a.code_query,
		a.total_digit,
		a.create_by,
		a.create_time,
		a.update_by,
		a.update_Time,
		a.remarks,
		a.del_flag
	</sql>

    <sql id="pdEncodingRuleDetailColumns">
		b.id,
		b.code_id,
		b.identifier,
		b.length ,
		b.code_order,
		b.create_by,
		b.create_time,
		b.update_by,
		b.update_time,
		b.remarks,
		b.del_flag
	</sql>

    <sql id="pdEncodingIdentifierColumns">
		c.type AS "pdEncodingIdentifier.type",
        c.`value` AS "pdEncodingIdentifier.value",
        c.length AS "pdEncodingIdentifier.length",
        c.meaning AS "pdEncodingIdentifier.meaning"
	</sql>

    <sql id="pdEncodingRuleDetailJoins">
        LEFT JOIN pd_encoding_rule_detail b on a.id = b.code_id
    </sql>

    <sql id="pdEncodingIdentifierJoins">
        LEFT JOIN pd_encoding_identifier c on b.identifier = c.id
    </sql>

    <!-- 编码规则条件查询 -->
    <select id="selectList" resultMap="resultMap" parameterType="org.jeecg.modules.pd.entity.PdEncodingRule">
        SELECT
          <include refid="pdEncodingRuleColumns"/>,
          <include refid="pdEncodingRuleDetailColumns"/>,
          <include refid="pdEncodingIdentifierColumns"/>
        FROM pd_encoding_rule a
        <include refid="pdEncodingRuleDetailJoins"/>
        <include refid="pdEncodingIdentifierJoins"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL} and b.del_flag = #{DEL_FLAG_NORMAL}
        </where>
        <if test="id != null and id != ''">
            AND a.id = #{id}
        </if>
        <if test="departId != null and departId != ''">
            AND a.depart_id = #{departId}
        </if>
        <if test="departParentId != null and departParentId != ''">
            AND a.depart_parent_id = #{departParentId}
        </if>
        <if test="name != null and name != ''">
            AND (a.name LIKE concat('%',#{name},'%')
            or a.py LIKE concat('%',#{name},'%')
            or a.wb LIKE concat('%',#{name},'%')
            or a.zdy LIKE concat('%',#{name},'%')
            or a.code_query LIKE concat('%',#{name},'%')
            )
        </if>
        ORDER BY a.update_time desc,b.code_order
    </select>
</mapper>