<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pd.mapper.PdGroupMapper">

    <!-- 供应商条件查询 -->
    <select id="selectList"  resultType="org.jeecg.modules.pd.entity.PdGroup">
        SELECT
        *
        FROM pd_group a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
        </where>
        <if test="name != null and name != ''">
            AND (a.name LIKE concat('%',#{name},'%')
            or a.py LIKE concat('%',#{name},'%')
            or a.wb LIKE concat('%',#{name},'%')
            or a.zdy LIKE concat('%',#{name},'%'))
        </if>
        <if test="departId != null and departId != ''">
            AND a.depart_id = #{departId}
        </if>
        <if test="departParentId != null and departParentId != ''">
            AND a.depart_parent_id = #{departParentId}
        </if>
        <!-- 为了查询效率 只查询十条记录该方法用于下拉选择 -->
        ORDER BY a.update_time desc
    </select>

</mapper>