<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pd.mapper.PdPackageRecordDetailMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  pd_package_record_detail 
		WHERE
			 record_id = #{mainId}
	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.pd.entity.PdPackageRecordDetail">
		SELECT
			a.*,
			a.package_num as productNum,
			a.record_id as package_record_id,
			a.id as package_record_detail_id,
			b.number AS productNumber,
			b.NAME AS productName,
			b.spec,
			b.version,
			b.unit_id,
			b.registration,
			c.NAME AS unitName,
			d.stock_num,
			d.product_bar_code,
			d.huowei_code AS outHuoweiCode,
			d.record_id as in_record_id,
			d.record_detail_id as in_record_detail_id,
			d.spec_unit_id,
			d.spec_quantity,
			d.supplier_id,
			d.produce_date,
			g.purchase_price,
			IFNULL( g.purchase_price, 0 ) * a.package_num AS inTotalPrice,
			b.selling_price,
			IFNULL( b.selling_price, 0 ) * a.package_num AS outTotalPrice,
			g.distributor_id,
			h.NAME AS outHuoweiName
		FROM
			pd_package_record_detail a
			LEFT JOIN pd_product b ON a.product_id = b.id
			LEFT JOIN pd_unit c ON b.unit_id = c.id
			LEFT JOIN pd_product_stock d ON a.product_stock_id = d.id
			LEFT JOIN pd_package_record e ON a.record_id = e.id
			LEFT JOIN pd_package_detail f ON e.package_id = f.package_id AND a.product_id = f.product_id AND f.del_flag = '0'
			LEFT JOIN pd_stock_record_detail g ON d.record_detail_id = g.id
			LEFT JOIN pd_goods_allocation h ON d.huowei_code = h.CODE
		WHERE
			a.record_id = #{mainId}
	</select>
</mapper>
