<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pd.mapper.PdPackageMapper">

    <select id="queryList" resultType="org.jeecg.modules.pd.entity.PdPackage" parameterType="org.jeecg.modules.pd.entity.PdPackage">
        SELECT
        a.id,
        a.code,
        a.name,
        a.sum,
        a.py,
        a.wb,
        a.zdy,
        a.create_by,
        a.create_time,
        a.update_by,
        a.update_time,
        a.remarks,
        a.del_flag,
        a.sys_org_code,
        a.sys_org_parent_code
        FROM pd_package a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <if test="name != null and name != ''">
                AND ( a.name LIKE concat('%',#{name},'%')
                or a.py LIKE concat('%',#{name},'%')
                or a.wb LIKE concat('%',#{name},'%')
                or a.zdy LIKE concat('%',#{name},'%') )
            </if>
        </where>
        ORDER BY a.update_time desc
    </select>
</mapper>