<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pd.mapper.PdPackageRecordMapper">
    <select id="queryList" resultType="org.jeecg.modules.pd.entity.PdPackageRecord" parameterType="org.jeecg.modules.pd.entity.PdPackageRecord">
        SELECT
        a.*,
        c.package_code,
        c.package_name,
        c.package_sum,
        d.depart_name
        FROM
        pd_package_record a
        LEFT JOIN pd_package c ON a.package_id = c.id
        left join sys_depart d on c.depart_id = d.id
        <where>
            a.del_flag = #{entity.DEL_FLAG_NORMAL}
            <if test="entity.packageName != null and entity.packageName != ''">
                AND ( c.package_name LIKE concat('%',#{entity.packageName},'%')
                or c.py LIKE concat('%',#{entity.packageName},'%')
                or c.wb LIKE concat('%',#{entity.packageName},'%')
                or c.zdy LIKE concat('%',#{entity.packageName},'%') )
            </if>
            <if test="entity.packageCode != null and entity.packageCode != ''">
                AND c.package_code LIKE concat('%',#{entity.packageCode},'%')
            </if>
            <if test="entity.recordNo != null and entity.recordNo != ''">
                AND a.record_no = #{entity.recordNo}
            </if>
            <if test="entity.packageBarCode != null and entity.packageBarCode != ''">
                AND a.package_bar_code = #{entity.packageBarCode}
            </if>
            <if test="entity.status != null and entity.status != ''">
                AND a.status = #{entity.status}
            </if>
            <if test="entity.departParentId != null and entity.departParentId != ''">
                AND a.depart_parent_id = #{entity.departParentId}
            </if>
            <if test="entity.departId != null and entity.departId != ''">
                AND a.depart_id = #{entity.departId}
            </if>
            <if test="entity.idList != null and entity.idList.size() > 0">
                AND a.id IN
                <foreach collection="entity.idList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="entity.productName != null and entity.productName != ''">
                AND a.id in (
                    SELECT DISTINCT
                      m.record_id
                    FROM
                      pd_package_record_detail m
                    LEFT JOIN pd_product n ON m.product_id = n.id
                    WHERE
                        n.number LIKE concat('%',#{entity.productName},'%')
                        or n.name LIKE concat('%',#{entity.productName},'%')
                        or n.py LIKE concat('%',#{entity.productName},'%')
                        or n.wb LIKE concat('%',#{entity.productName},'%')
                        or n.bname LIKE concat('%',#{entity.productName},'%')
                        or n.bpy LIKE concat('%',#{entity.productName},'%')
                        or n.bwb LIKE concat('%',#{entity.productName},'%')
                        or n.zdy LIKE concat('%',#{entity.productName},'%')
                )
            </if>
            <if test="entity.productNumber != null and entity.productNumber != ''">
                AND a.id in (
                    SELECT DISTINCT
                      m.record_id
                    FROM
                      pd_package_record_detail m
                    LEFT JOIN pd_product n ON m.product_id = n.id
                    WHERE
                      n.number LIKE concat('%',#{entity.productNumber},'%')
                )
            </if>
        </where>
        ORDER BY a.update_time desc
    </select>
</mapper>