<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pd.mapper.PdPackageRecordMapper">
    <select id="queryList" resultType="org.jeecg.modules.pd.entity.PdPackageRecord" parameterType="org.jeecg.modules.pd.entity.PdPackageRecord">
        SELECT
        a.*,
        c.package_code,
        c.package_name,
        c.package_sum
        FROM
        pd_package_record a
        LEFT JOIN pd_package c ON a.package_id = c.id
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <if test="packageName != null and packageName != ''">
                AND ( c.package_name LIKE concat('%',#{packageName},'%')
                or c.py LIKE concat('%',#{packageName},'%')
                or c.wb LIKE concat('%',#{packageName},'%')
                or c.zdy LIKE concat('%',#{packageName},'%') )
            </if>
            <if test="packageCode != null and packageCode != ''">
                AND c.package_code LIKE concat('%',#{packageCode},'%')
            </if>
            <if test="packageBarCode != null and packageBarCode != ''">
                AND a.package_bar_code = #{packageBarCode}
            </if>
            <if test="status != null and status != ''">
                AND a.status = #{status}
            </if>
            <if test="departParentId != null and departParentId != ''">
                AND a.depart_parent_id = #{departParentId}
            </if>
            <if test="departId != null and departId != ''">
                AND a.depart_id = #{departId}
            </if>
            <if test="idList != null and idList.size() > 0">
                AND a.id IN
                <foreach collection="idList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>

            <if test="productName != null and productName != ''">
                AND a.id in (
                    SELECT DISTINCT
                      m.record_id
                    FROM
                      pd_package_record_detail m
                    LEFT JOIN pd_product n ON m.product_id = n.id
                    WHERE
                        n.number LIKE concat('%',#{productName},'%')
                        or n.name LIKE concat('%',#{productName},'%')
                        or n.py LIKE concat('%',#{productName},'%')
                        or n.wb LIKE concat('%',#{productName},'%')
                        or n.bname LIKE concat('%',#{productName},'%')
                        or n.bpy LIKE concat('%',#{productName},'%')
                        or n.bwb LIKE concat('%',#{productName},'%')
                        or n.zdy LIKE concat('%',#{productName},'%')
                )
            </if>
            <if test="productNumber != null and productNumber != ''">
                AND a.id in (
                    SELECT DISTINCT
                      m.record_id
                    FROM
                      pd_package_record_detail m
                    LEFT JOIN pd_product n ON m.product_id = n.id
                    WHERE
                      n.number LIKE concat('%',#{productNumber},'%')
                )
            </if>



        </where>
        ORDER BY a.update_time desc
    </select>
</mapper>