<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pd.mapper.PdPackageMapper">

    <select id="queryList" resultType="org.jeecg.modules.pd.entity.PdPackage" parameterType="org.jeecg.modules.pd.entity.PdPackage">
        SELECT
        a.id,
        a.package_code,
        a.package_name,
        a.package_sum,
        a.py,
        a.wb,
        a.zdy,
        a.create_by,
        a.create_time,
        a.update_by,
        a.update_time,
        a.remarks,
        a.del_flag,
        a.sys_org_code,
        a.depart_id,
        a.depart_parent_id,
        b.depart_name
        FROM pd_package a
        left join sys_depart b on a.depart_id = b.id
        <where>
            a.del_flag = #{entity.DEL_FLAG_NORMAL}
            <if test="entity.packageName != null and entity.packageName != ''">
                AND ( a.package_name LIKE concat('%',#{entity.packageName},'%')
                or a.py LIKE concat('%',#{entity.packageName},'%')
                or a.wb LIKE concat('%',#{entity.packageName},'%')
                or a.zdy LIKE concat('%',#{entity.packageName},'%') )
            </if>
            <if test="entity.packageCode != null and entity.packageCode != ''">
                AND a.package_code LIKE concat('%',#{entity.packageCode},'%')
            </if>
            <if test="entity.departParentId != null and entity.departParentId != ''">
                AND a.depart_parent_id = #{entity.departParentId}
            </if>
            <if test="entity.departId != null and entity.departId != ''">
                AND a.depart_id = #{entity.departId}
            </if>
        </where>
        ORDER BY a.update_time desc
    </select>
</mapper>