<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pd.mapper.PdPackageMapper">

    <select id="queryList" resultType="org.jeecg.modules.pd.entity.PdPackage" parameterType="org.jeecg.modules.pd.entity.PdPackage">
        SELECT
        a.id,
        a.package_code,
        a.package_name,
        a.package_sum,
        a.py,
        a.wb,
        a.zdy,
        a.create_by,
        a.create_time,
        a.update_by,
        a.update_time,
        a.remarks,
        a.del_flag,
        a.sys_org_code,
        a.depart_id,
        a.depart_parent_id
        FROM pd_package a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <if test="packageName != null and packageName != ''">
                AND ( a.package_name LIKE concat('%',#{packageName},'%')
                or a.py LIKE concat('%',#{packageName},'%')
                or a.wb LIKE concat('%',#{packageName},'%')
                or a.zdy LIKE concat('%',#{packageName},'%') )
            </if>
            <if test="packageCode != null and packageCode != ''">
                AND a.package_code LIKE concat('%',#{packageCode},'%')
            </if>
            <if test="departParentId != null and departParentId != ''">
                AND a.depart_parent_id = #{departParentId}
            </if>
            <if test="departId != null and departId != ''">
                AND a.depart_id = #{departId}
            </if>
        </where>
        ORDER BY a.update_time desc
    </select>
</mapper>