<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pd.mapper.PdProductRuleMapper">

    <!--  修改修改 -->
    <update id="removeByProductId">
		UPDATE pd_product_rule
		SET
		del_flag = #{DEL_FLAG_DELETE},
		update_time =#{updateTime},
		update_by =#{updateBy}
		  where product_id = #{productId}
	</update>
</mapper>