<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pd.mapper.PdProductStockMapper">

	<sql id="pdProductStockColumns">
		a.id,
		a.create_by,
		a.create_time,
		a.update_by,
		a.update_time,
        a.sys_org_code,
		a.product_id,
		a.dept_id,
		a.product_bar_code,
		a.batch_no,
		a.stock_num,
		a.produce_date,
		a.exp_date,
		a.exp_status,
		a.supplier_id,
		a.is_long,
		a.remarks,
		a.del_flag
	</sql>

	<sql id="pdProductStockJoins">
	</sql>

	<!-- 单位 -->
	<sql id="pdUnitColumns">
        b.name AS "unitName"
    </sql>

	<sql id="pdUnitJoins">
        LEFT JOIN pd_unit b ON c.unit_id = b.id
    </sql>

	<!--产品-->
	<sql id="pdProductColumns">
        c.name as "productName",
        c.number as "number",
        c.spec as "spec",
        c.version as "version",
        c.registration as "registration"
	</sql>
	<sql id="pdProductJoins">
        LEFT JOIN pd_product c ON c.id = a.product_id
    </sql>

	<!-- 供应商 -->
	<sql id="pdSupplierColumns">
      d.name AS "supplierName"
    </sql>
	<sql id="pdSupplierJoins">
      left join pd_supplier d on a.supplier_id = d.id
    </sql>

	<!-- 生产厂家 -->
	<sql id="pdVenderColumns">
      e.name AS "venderName"
    </sql>
	<sql id="pdVenderJoins">
      left join pd_vender e on c.vender_id = e.id
    </sql>

	<!-- 科室 -->
	<sql id="sysDepartColumns">
        f.depart_name AS "deptName"
    </sql>

	<sql id="sysDepartJoins">
        LEFT JOIN sys_depart f ON a.dept_id = f.id
    </sql>

	<!-- 列表查询 -->
	<select id="selectList" resultType="org.jeecg.modules.pd.entity.PdProductStock">
		SELECT
		<include refid="pdProductStockColumns"/>,
		<include refid="pdUnitColumns"/>,
		<include refid="pdProductColumns"/>,
		<include refid="pdVenderColumns"/>,
		<include refid="pdSupplierColumns"/>,
		<include refid="sysDepartColumns"/>
		FROM pd_product_stock a
		<include refid="pdProductStockJoins"/>
		<include refid="pdProductJoins"/>
		<include refid="pdUnitJoins"/>
		<include refid="pdVenderJoins"/>
		<include refid="pdSupplierJoins"/>
		<include refid="sysDepartJoins"/>
		<where>
			a.del_flag =#{DEL_FLAG_NORMAL}
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="productId != null and productId != ''">
				AND a.product_id = #{productId}
			</if>
			<if test="deptId != null and deptId != ''">
				AND a.dept_id = #{deptId}
			</if>
			<if test="number != null and number != ''">
				AND c.number = #{number}
			</if>
			<if test="productName != null and productName != ''">
				AND a.product_name = #{productName}
			</if>
		</where>
	</select>


	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE  FROM  pd_product_stock  WHERE dept_id = #{mainId}
</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.pd.entity.PdProductStock">
		SELECT
            <include refid="pdProductStockColumns"/>
		 FROM  pd_product_stock
		WHERE  dept_id = #{mainId}
</select>
</mapper>
