<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pd.mapper.PdProductStockTotalMapper">

    <sql id="pdProductStockTotalColumns">
		a.id,
		a.product_id,
		a.stock_num,
		a.storeroom_id,
		a.storeroom_name,
		a.limit_up,
		a.limit_down,
		a.expire,
		a.is_long,
		a.supplier_id,
		a.create_by,
		a.create_time,
		a.update_by,
		a.update_time,
		a.remarks,
		a.del_flag
	</sql>

    <sql id="pdProductStockTotalJoins">
    </sql>

    <!-- 单位 -->
    <sql id="pdUnitColumns">
        b.name AS "unitName"
    </sql>

    <sql id="pdUnitJoins">
        LEFT JOIN pd_unit b ON c.unit_id = b.id
    </sql>

    <!--产品-->
    <sql id="pdProductColumns">
		c.id as "productId",
        c.number as "productNo",
        c.name as "productName",
        c.spec as "spec",
        c.version as "version"
	</sql>
    <sql id="pdProductJoins">
        LEFT JOIN pd_product c ON c.id = a.product_id
    </sql>


    <!-- 列表查询 -->
    <select id="selectList" resultType="org.jeecg.modules.pd.vo.PdProductStockTotalPage">
        SELECT
        <include refid="pdProductStockTotalColumns"/>,
        <include refid="pdProductColumns"/>,
        <include refid="pdUnitColumns"/>
        FROM pd_product_stock_total a
        <include refid="pdProductStockTotalJoins"/>
        <include refid="pdProductJoins"/>
        <include refid="pdUnitJoins"/>
        <where>
            a.del_flag =#{DEL_FLAG_NORMAL}
            <if test="id != null and id != ''">
                AND a.id = #{id}
            </if>
            <if test="storeroomName != null and storeroomName != ''">
                AND a.storeroom_name = #{storeroomName}
            </if>
            <if test="productName != null and productName != ''">
                AND c.name = #{productName}
            </if>
        </where>
    </select>



    <update id="updateProductStock">
        UPDATE pd_product_stock_total   SET
        <if test="limitUp!=null and limitUp!='' ">
            limit_up = #{limitUp}
        </if>
        <if test="limitDown!=null and limitDown!='' ">
            limit_down = #{limitDown}
        </if>
        <if test="expire!=null and expire!='' ">
            expire = #{expire}
        </if>
        <if test="isLong!=null and isLong!='' ">
            is_long = #{isLong}
        </if>
        WHERE 1=1
        <if test="id != null and id != ''">
            AND id = #{id}
        </if>
        <if test="storeroomId != null and storeroomId != ''">
            AND storeroom_id = #{storeroomId}
        </if>
        <if test="productId != null and productId != ''">
            AND product_id = #{productId}
        </if>
    </update>
</mapper>