<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pd.mapper.PdProductMapper">

    <resultMap id="resultMap" type="org.jeecg.modules.pd.entity.PdProduct">
        <id column="id" property="id" jdbcType="VARCHAR"></id>
        <result column="number" property="number" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="py" property="py" jdbcType="VARCHAR"/>
        <result column="wb" property="wb" jdbcType="VARCHAR"/>
        <result column="bname" property="bname" jdbcType="VARCHAR"/>
        <result column="bpy" property="bpy" jdbcType="VARCHAR"/>
        <result column="bwb" property="bwb" jdbcType="VARCHAR"/>
        <result column="zdy" property="zdy" jdbcType="VARCHAR"/>
        <result column="spec_unit_id" property="specUnitId" jdbcType="VARCHAR"/>
        <result column="specUnitName" property="specUnitName" jdbcType="VARCHAR"/>
        <result column="spec_quantity" property="specQuantity" jdbcType="DOUBLE"/>
        <result column="spec" property="spec" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="VARCHAR"/>
        <result column="unit_id" property="unitId" jdbcType="VARCHAR"/>
        <result column="unitName" property="unitName" jdbcType="VARCHAR"/>
        <result column="power" property="power" jdbcType="VARCHAR"/>
        <result column="category_one" property="categoryOne" jdbcType="VARCHAR"/>
        <result column="categoryOneName" property="categoryOneName" jdbcType="VARCHAR"/>
        <result column="category_two" property="categoryTwo" jdbcType="VARCHAR"/>
        <result column="categoryTwoName" property="categoryTwoName" jdbcType="VARCHAR"/>
        <result column="group_id" property="groupId" jdbcType="VARCHAR"/>
        <result column="groupName" property="groupName" jdbcType="VARCHAR"/>
        <result column="vender_id" property="venderId" jdbcType="VARCHAR"/>
        <result column="venderName" property="venderName" jdbcType="VARCHAR"/>
        <result column="supplier_id" property="supplierId" jdbcType="VARCHAR"/>
        <result column="supplierName" property="supplierName" jdbcType="VARCHAR"/>
        <result column="purchase_price" property="purchasePrice" jdbcType="DECIMAL"/>
        <result column="selling_price" property="sellingPrice" jdbcType="DECIMAL"/>
        <result column="registration" property="registration" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="is_charge" property="isCharge" jdbcType="VARCHAR"/>
        <result column="charge_code" property="chargeCode" jdbcType="VARCHAR"/>
        <result column="is_urgent" property="isUrgent" jdbcType="VARCHAR"/>
        <result column="up_quantity" property="upQuantity" jdbcType="DOUBLE"/>
        <result column="purchased_quantity" property="purchasedQuantity" jdbcType="DOUBLE"/>
        <result column="licence_name0" property="licenceName0" jdbcType="VARCHAR"/>
        <result column="licence_num0" property="licenceNum0" jdbcType="VARCHAR"/>
        <result column="licence_date0" property="licenceDate0" jdbcType="DATE"/>
        <result column="licence_site0" property="licenceSite0" jdbcType="VARCHAR"/>
        <result column="licence_validity0" property="licenceValidity0" jdbcType="VARCHAR"/>
        <result column="licence_name1" property="licenceName1" jdbcType="VARCHAR"/>
        <result column="licence_num1" property="licenceNum1" jdbcType="VARCHAR"/>
        <result column="licence_date1" property="licenceDate1" jdbcType="DATE"/>
        <result column="licence_site1" property="licenceSite1" jdbcType="VARCHAR"/>
        <result column="licence_validity1" property="licenceValidity1" jdbcType="VARCHAR"/>
        <result column="licence_name2" property="licenceName2" jdbcType="VARCHAR"/>
        <result column="licence_num2" property="licenceNum2" jdbcType="VARCHAR"/>
        <result column="licence_date2" property="licenceDate2" jdbcType="DATE"/>
        <result column="licence_site2" property="licenceSite2" jdbcType="VARCHAR"/>
        <result column="licence_validity2" property="licenceValidity2" jdbcType="VARCHAR"/>
        <result column="licence_name3" property="licenceName3" jdbcType="VARCHAR"/>
        <result column="licence_num3" property="licenceNum3" jdbcType="VARCHAR"/>
        <result column="licence_date3" property="licenceDate3" jdbcType="DATE"/>
        <result column="licence_site3" property="licenceSite3" jdbcType="VARCHAR"/>
        <result column="licence_validity3" property="licenceValidity3" jdbcType="VARCHAR"/>
        <result column="licence_name4" property="licenceName4" jdbcType="VARCHAR"/>
        <result column="licence_num4" property="licenceNum4" jdbcType="VARCHAR"/>
        <result column="licence_date4" property="licenceDate4" jdbcType="DATE"/>
        <result column="licence_site4" property="licenceSite4" jdbcType="VARCHAR"/>
        <result column="licence_validity4" property="licenceValidity4" jdbcType="VARCHAR"/>
        <result column="licence_name5" property="licenceName5" jdbcType="VARCHAR"/>
        <result column="licence_num5" property="licenceNum5" jdbcType="VARCHAR"/>
        <result column="licence_date5" property="licenceDate5" jdbcType="DATE"/>
        <result column="licence_site5" property="licenceSite5" jdbcType="VARCHAR"/>
        <result column="licence_validity5" property="licenceValidity5" jdbcType="VARCHAR"/>
        <result column="licence_name6" property="licenceName6" jdbcType="VARCHAR"/>
        <result column="licence_num6" property="licenceNum6" jdbcType="VARCHAR"/>
        <result column="licence_date6" property="licenceDate6" jdbcType="DATE"/>
        <result column="licence_site6" property="licenceSite6" jdbcType="VARCHAR"/>
        <result column="licence_validity6" property="licenceValidity6" jdbcType="VARCHAR"/>
        <result column="licence_name7" property="licenceName7" jdbcType="VARCHAR"/>
        <result column="licence_num7" property="licenceNum7" jdbcType="VARCHAR"/>
        <result column="licence_date7" property="licenceDate7" jdbcType="DATE"/>
        <result column="licence_site7" property="licenceSite7" jdbcType="VARCHAR"/>
        <result column="licence_validity7" property="licenceValidity7" jdbcType="VARCHAR"/>
        <result column="licence_name8" property="licenceName8" jdbcType="VARCHAR"/>
        <result column="licence_num8" property="licenceNum8" jdbcType="VARCHAR"/>
        <result column="licence_date8" property="licenceDate8" jdbcType="DATE"/>
        <result column="licence_site8" property="licenceSite8" jdbcType="VARCHAR"/>
        <result column="licence_validity8" property="licenceValidity8" jdbcType="VARCHAR"/>
        <result column="licence_name9" property="licenceName9" jdbcType="VARCHAR"/>
        <result column="licence_num9" property="licenceNum9" jdbcType="VARCHAR"/>
        <result column="licence_date9" property="licenceDate9" jdbcType="DATE"/>
        <result column="licence_site9" property="licenceSite9" jdbcType="VARCHAR"/>
        <result column="licence_validity9" property="licenceValidity9" jdbcType="VARCHAR"/>
        <result column="licence_name10" property="licenceName10" jdbcType="VARCHAR"/>
        <result column="licence_num10" property="licenceNum10" jdbcType="VARCHAR"/>
        <result column="licence_date10" property="licenceDate10" jdbcType="DATE"/>
        <result column="licence_site10" property="licenceSite10" jdbcType="VARCHAR"/>
        <result column="licence_validity10" property="licenceValidity10" jdbcType="VARCHAR"/>
        <result column="licence_name11" property="licenceName11" jdbcType="VARCHAR"/>
        <result column="licence_num11" property="licenceNum11" jdbcType="VARCHAR"/>
        <result column="licence_date11" property="licenceDate11" jdbcType="DATE"/>
        <result column="licence_site11" property="licenceSite11" jdbcType="VARCHAR"/>
        <result column="licence_validity11" property="licenceValidity11" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="jde_code" property="jdeCode" jdbcType="VARCHAR"/>
        <result column="device_classification" property="deviceClassification" jdbcType="VARCHAR"/>
        <result column="validity_flag" property="validityFlag" jdbcType="VARCHAR"/>
        <result column="product_flag" property="productFlag" jdbcType="VARCHAR"/>
        <result column="fsfJe" property="fsfJe" jdbcType="DECIMAL"/>
        <result column="priceDifference" property="priceDifference" jdbcType="DECIMAL"/>
        <result column="fsfXmmc" property="fsfXmmc" jdbcType="VARCHAR"/>
        <collection property="pdProductRules" ofType="String">
            <!--<id column="id" property="id" jdbcType="VARCHAR"/>
            <id column="product_id" property="productId" jdbcType="VARCHAR"/>-->
            <id column="rule_id" property="ruleId" jdbcType="VARCHAR"/>
            <!--<id column="create_by" property="createBy" jdbcType="VARCHAR"/>
            <id column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
            <id column="update_by" property="updateBy" jdbcType="VARCHAR"/>
            <id column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
            <id column="sys_org_code" property="sysOrgCode" jdbcType="VARCHAR"/>
            <id column="remarks" property="remarks" jdbcType="VARCHAR"/>
            <id column="del_flag" property="delFlag" jdbcType="VARCHAR"/>-->
        </collection>
    </resultMap>

    <sql id="pdProductColumns">
		a.id,
        a.number,
        a.name,
        a.py,
        a.wb,
        a.bname,
        a.bpy,
        a.bwb,
        a.zdy,
        a.spec_unit_id,
        a.spec_quantity,
        a.spec,
        a.version,
        a.unit_id,
        a.power,
        a.category_one,
        a.category_two,
        a.group_id,
        a.vender_id,
        a.supplier_id,
        a.purchase_price,
        a.selling_price,
        a.registration,
        a.description,
        a.is_charge,
        a.charge_code,
        a.is_urgent,
        a.up_quantity,
        a.purchased_quantity,
        a.licence_name0,
        a.licence_num0,
        a.licence_date0,
        a.licence_site0,
        a.licence_validity0,
        a.licence_name1,
        a.licence_num1,
        a.licence_date1,
        a.licence_site1,
        a.licence_validity1,
        a.licence_name2,
        a.licence_num2,
        a.licence_date2,
        a.licence_site2,
        a.licence_validity2,
        a.licence_name3,
        a.licence_num3,
        a.licence_date3,
        a.licence_site3,
        a.licence_validity3,
        a.licence_name4,
        a.licence_num4,
        a.licence_date4,
        a.licence_site4,
        a.licence_validity4,
        a.licence_name5,
        a.licence_num5,
        a.licence_date5,
        a.licence_site5,
        a.licence_validity5,
        a.licence_name6,
        a.licence_num6,
        a.licence_date6,
        a.licence_site6,
        a.licence_validity6,
        a.licence_name7,
        a.licence_num7,
        a.licence_date7,
        a.licence_site7,
        a.licence_validity7,
        a.licence_name8,
        a.licence_num8,
        a.licence_date8,
        a.licence_site8,
        a.licence_validity8,
        a.licence_name9,
        a.licence_num9,
        a.licence_date9,
        a.licence_site9,
        a.licence_validity9,
        a.licence_name10,
        a.licence_num10,
        a.licence_date10,
        a.licence_site10,
        a.licence_validity10,
        a.licence_name11,
        a.licence_num11,
        a.licence_date11,
        a.licence_site11,
        a.licence_validity11,
        a.create_by,
        a.create_time,
        a.update_by,
        a.update_time,
        a.sys_org_code,
        a.remarks,
        a.jde_code,
        a.device_classification,
        a.validity_flag,
        a.product_flag,
        a.del_flag
	</sql>

    <!-- 产品部分字段 -->
    <sql id="pdProductPartColumns">
        a.id,
        a.number,
        a.name,
        a.py,
        a.wb,
        a.bname,
        a.bpy,
        a.bwb,
        a.zdy,
        a.spec_unit_id,
        a.spec_quantity,
        a.spec,
        a.version,
        a.unit_id,
        a.power,
        a.category_one,
        a.category_two,
        a.group_id,
        a.vender_id,
        a.supplier_id,
        a.purchase_price,
        a.selling_price,
        a.registration,
        a.description,
        a.is_charge,
        a.charge_code,
        a.is_urgent,
        a.up_quantity,
        a.purchased_quantity,
        a.create_by,
        a.create_time,
        a.update_by,
        a.update_time,
        a.sys_org_code,
        a.remarks,
        a.jde_code,
        a.device_classification,
        a.validity_flag,
        a.product_flag,
        a.del_flag
    </sql>


    <sql id="pdProductJoins">
    </sql>

    <!-- 单位 -->
    <sql id="pdUnitColumns">
        b.`name` AS "unitName",
        sb.`name` AS "specUnitName"
    </sql>
    <sql id="pdUnitJoins">
        LEFT JOIN pd_unit b ON a.unit_id = b.id
        LEFT JOIN pd_unit sb ON a.spec_unit_id = sb.id
    </sql>

    <!-- 分类 -->
    <sql id="pdCategoryColumns">
       c.`name` AS "categoryOneName",
	   d.`name` AS "categoryTwoName"
    </sql>
    <sql id="pdCategoryJoins">
      left join pd_category c on a.category_one = c.id
      left join pd_category d on a.category_two = d.id
    </sql>

    <!-- 供应商 -->
    <sql id="pdSupplierColumns">
      e.`name` AS "supplierName"
    </sql>
    <sql id="pdSupplierJoins">
      left join pd_supplier e on a.supplier_id = e.id
    </sql>

    <!-- 生产厂家 -->
    <sql id="pdVenderColumns">
      f.`name` AS "venderName"
    </sql>
    <sql id="pdVenderJoins">
      left join pd_vender f on a.vender_id = f.id
    </sql>

    <!-- 组别 -->
    <sql id="pdGroupColumns">
      g.`name` AS "groupName"
    </sql>
    <sql id="pdGroupJoins">
      left join pd_group g on a.group_id = g.id
    </sql>

    <!-- 编码规则 -->
    <sql id="pdRuleColumns">
      h.id,
      h.product_id,
      h.rule_id
    </sql>
    <sql id="pdRuleJoins">
      LEFT JOIN (select * from pd_product_rule where del_flag = '0') h ON a.id = h.product_id
    </sql>

    <sql id="pdHisChargeInfColumns">
      i.fsf_xmmc as "fsfXmmc",
      i.fsf_je as "fsfJe",
      a.selling_price - i.fsf_je as "priceDifference"
    </sql>
    <sql id="pdHisChargeInfJoins">
      LEFT JOIN (select * from ex_his_charge_inf ex_inf where ex_inf.depart_parent_id = #{entity.departParentId}) i ON a.charge_code = i.fsf_xmbh
    </sql>

    <!-- 产品条件查询 -->
    <select id="selectList" resultMap="resultMap" parameterType="org.jeecg.modules.pd.entity.PdProduct">
        SELECT
        <include refid="pdProductColumns"/>,
        <include refid="pdUnitColumns"/>,
        <include refid="pdCategoryColumns"/>,
        <include refid="pdSupplierColumns"/>,
        <include refid="pdVenderColumns"/>,
        <include refid="pdGroupColumns"/>,
        <include refid="pdRuleColumns"/>
        FROM pd_product a
        <include refid="pdUnitJoins"/>
        <include refid="pdCategoryJoins"/>
        <include refid="pdSupplierJoins"/>
        <include refid="pdVenderJoins"/>
        <include refid="pdGroupJoins"/>
        <include refid="pdRuleJoins"/>
        <where>
            a.del_flag = #{entity.DEL_FLAG_NORMAL}
        </where>
        <if test="name != null and name != ''">
            AND (a.name LIKE concat('%',#{entity.name},'%')
            or a.py LIKE concat('%',#{entity.name},'%')
            or a.wb LIKE concat('%',#{entity.name},'%')
            or a.zdy LIKE concat('%',#{entity.name},'%')
            or a.bname LIKE concat('%',#{entity.name},'%')
            or a.bpy LIKE concat('%',#{entity.name},'%')
            or a.bwb LIKE concat('%',#{entity.name},'%')
            )
        </if>
        <if test="number != null and number != ''">
            AND a.number LIKE concat('%',#{entity.number},'%')
        </if>
        <if test="registration != null and registration != ''">
            AND a.registration LIKE concat('%',#{entity.registration},'%')
        </if>
        <if test="chargeCode != null and chargeCode != ''">
            AND a.charge_code LIKE concat('%',#{entity.chargeCode},'%')
        </if>
        <if test="venderId != null and venderId != ''">
            AND a.vender_id = #{entity.venderId}
        </if>
        <if test="supplierId != null and supplierId != ''">
            AND a.supplier_id = #{entity.supplierId}
        </if>
        <if test="spec != null and spec != ''">
            AND a.spec LIKE concat('%',#{entity.spec},'%')
        </if>
        <if test="version != null and version != ''">
            AND a.version LIKE concat('%',#{entity.version},'%')
        </if>
        <if test="validityFlag != null and validityFlag != ''">
            AND a.validity_flag = #{entity.validityFlag}
        </if>
        <if test="productFlag != null and productFlag != ''">
            AND a.product_flag = #{entity.productFlag}
        </if>
        <if test="deviceClassification != null and deviceClassification != ''">
            AND a.device_classification = #{entity.deviceClassification}
        </if>
        <if test="departId != null and departId != ''">
            AND a.depart_id = #{entity.departId}
        </if>
        <if test="departParentId != null and departParentId != ''">
            AND a.depart_parent_id = #{entity.departParentId}
        </if>
        ORDER BY a.update_time desc,a.create_time desc
    </select>
    <select id="selectListByPage" resultMap="resultMap" parameterType="org.jeecg.modules.pd.entity.PdProduct">
        SELECT
        <include refid="pdProductColumns"/>,
        <include refid="pdUnitColumns"/>,
        <include refid="pdCategoryColumns"/>,
        <include refid="pdSupplierColumns"/>,
        <include refid="pdVenderColumns"/>,
        <include refid="pdGroupColumns"/>,
        <include refid="pdRuleColumns"/>
        FROM pd_product a
        <include refid="pdUnitJoins"/>
        <include refid="pdCategoryJoins"/>
        <include refid="pdSupplierJoins"/>
        <include refid="pdVenderJoins"/>
        <include refid="pdGroupJoins"/>
        <include refid="pdRuleJoins"/>
        <where>
            a.del_flag = #{entity.DEL_FLAG_NORMAL}
        </where>
        <if test="entity.name != null and entity.name != ''">
            AND (a.name LIKE concat('%',#{entity.name},'%')
            or a.py LIKE concat('%',#{entity.name},'%')
            or a.wb LIKE concat('%',#{entity.name},'%')
            or a.zdy LIKE concat('%',#{entity.name},'%')
            or a.bname LIKE concat('%',#{entity.name},'%')
            or a.bpy LIKE concat('%',#{entity.name},'%')
            or a.bwb LIKE concat('%',#{entity.name},'%')
            )
        </if>
        <if test="entity.number != null and entity.number != ''">
            AND a.number LIKE concat('%',#{entity.number},'%')
        </if>
        <if test="entity.registration != null and entity.registration != ''">
            AND a.registration LIKE concat('%',#{entity.registration},'%')
        </if>
        <if test="entity.chargeCode != null and entity.chargeCode != ''">
            AND a.charge_code LIKE concat('%',#{entity.chargeCode},'%')
        </if>
        <if test="entity.venderId != null and entity.venderId != ''">
            AND a.vender_id = #{entity.venderId}
        </if>
        <if test="entity.supplierId != null and entity.supplierId != ''">
            AND a.supplier_id = #{entity.supplierId}
        </if>
        <if test="entity.spec != null and entity.spec != ''">
            AND a.spec LIKE concat('%',#{entity.spec},'%')
        </if>
        <if test="entity.version != null and entity.version != ''">
            AND a.version LIKE concat('%',#{entity.version},'%')
        </if>
        <if test="entity.validityFlag != null and entity.validityFlag != ''">
            AND a.validity_flag = #{entity.validityFlag}
        </if>
        <if test="entity.productFlag != null and entity.productFlag != ''">
            AND a.product_flag = #{entity.productFlag}
        </if>
        <if test="entity.deviceClassification != null and entity.deviceClassification != ''">
            AND a.device_classification = #{entity.deviceClassification}
        </if>
        <if test="entity.departId != null and entity.departId != ''">
            AND a.depart_id = #{entity.departId}
        </if>
        <if test="entity.departParentId != null and entity.departParentId != ''">
            AND a.depart_parent_id = #{entity.departParentId}
        </if>
        ORDER BY a.update_time desc,a.create_time desc
    </select>

    <select id="selectListForHisChargeByPage" resultMap="resultMap" parameterType="org.jeecg.modules.pd.entity.PdProduct">
        SELECT
        <include refid="pdProductColumns"/>,
        <include refid="pdUnitColumns"/>,
        <include refid="pdCategoryColumns"/>,
        <include refid="pdSupplierColumns"/>,
        <include refid="pdVenderColumns"/>,
        <include refid="pdGroupColumns"/>,
        <include refid="pdRuleColumns"/>,
        <include refid="pdHisChargeInfColumns"/>
        FROM pd_product a
        <include refid="pdUnitJoins"/>
        <include refid="pdCategoryJoins"/>
        <include refid="pdSupplierJoins"/>
        <include refid="pdVenderJoins"/>
        <include refid="pdGroupJoins"/>
        <include refid="pdRuleJoins"/>
        <include refid="pdHisChargeInfJoins"/>
        <where>
            a.del_flag = #{entity.DEL_FLAG_NORMAL}
        </where>
        <if test="entity.name != null and entity.name != ''">
            AND (a.name LIKE concat('%',#{entity.name},'%')
            or a.py LIKE concat('%',#{entity.name},'%')
            or a.wb LIKE concat('%',#{entity.name},'%')
            or a.zdy LIKE concat('%',#{entity.name},'%')
            or a.bname LIKE concat('%',#{entity.name},'%')
            or a.bpy LIKE concat('%',#{entity.name},'%')
            or a.bwb LIKE concat('%',#{entity.name},'%')
            )
        </if>
        <if test="entity.number != null and entity.number != ''">
            AND a.number LIKE concat('%',#{entity.number},'%')
        </if>
        <if test="entity.registration != null and entity.registration != ''">
            AND a.registration LIKE concat('%',#{entity.registration},'%')
        </if>
        <if test="entity.chargeCode != null and entity.chargeCode != ''">
            AND a.charge_code LIKE concat('%',#{entity.chargeCode},'%')
        </if>
        <if test="entity.venderId != null and entity.venderId != ''">
            AND a.vender_id = #{entity.venderId}
        </if>
        <if test="entity.supplierId != null and entity.supplierId != ''">
            AND a.supplier_id = #{entity.supplierId}
        </if>
        <if test="entity.spec != null and entity.spec != ''">
            AND a.spec LIKE concat('%',#{entity.spec},'%')
        </if>
        <if test="entity.version != null and entity.version != ''">
            AND a.version LIKE concat('%',#{entity.version},'%')
        </if>
        <if test="entity.validityFlag != null and entity.validityFlag != ''">
            AND a.validity_flag = #{entity.validityFlag}
        </if>
        <if test="entity.productFlag != null and entity.productFlag != ''">
            AND a.product_flag = #{entity.productFlag}
        </if>
        <if test="entity.deviceClassification != null and entity.deviceClassification != ''">
            AND a.device_classification = #{entity.deviceClassification}
        </if>
        <if test="entity.departId != null and entity.departId != ''">
            AND a.depart_id = #{entity.departId}
        </if>
        <if test="entity.departParentId != null and entity.departParentId != ''">
            AND a.depart_parent_id = #{entity.departParentId}
        </if>
        <if test='entity.hisChargeCodeSynFlag != null and entity.hisChargeCodeSynFlag == "1"'>
            AND (a.charge_code is not null and a.charge_code &lt;&gt; '')
        </if>
        <if test='entity.hisChargeCodeSynFlag != null and entity.hisChargeCodeSynFlag == "2"'>
            AND (a.charge_code is null or a.charge_code = '')
        </if>
        ORDER BY a.update_time desc,a.create_time desc
    </select>

    <!-- 用于产品弹出框 -->
    <select id="chooseProductList" resultType="org.jeecg.modules.pd.vo.PdProductPage" parameterType="org.jeecg.modules.pd.vo.PdProductPage">
        select DISTINCT
            a.id as productId,
            a.number as productNumber,
            a.name as productName,
            a.*,
        case
        when a.product_flag = '0' then "耗材"
        when a.product_flag = '1' then "试剂"
        end as "productFlagName",
            b.name as unitName,
            bb.name as specUnitName,
            c.name as venderName,
            d.name as supplierName
        <if test="entity.stockDepartId != null and entity.stockDepartId != ''">
           , IFNULL(f.stock_num,0) as stockNum
        </if>
        <if test="entity.mergeOrderNo != null and entity.mergeOrderNo != ''">
            ,e.merge_order_no as mergeOrderNo
        </if>
        from pd_product a
        left join pd_unit b on a.unit_id = b.id
        left join pd_unit bb on a.spec_unit_id = bb.id
        left join pd_vender c on a.vender_id = c.id
        left join pd_supplier d on a.supplier_id = d.id
        <if test="entity.stockDepartId != null and entity.stockDepartId != ''">
        left join pd_product_stock_total f on f.product_id = a.id and f.depart_id=#{entity.stockDepartId}
        </if>
        <if test="entity.mergeOrderNo != null and entity.mergeOrderNo != ''">
        left join pd_purchase_order_merge_detail e on e.product_id = a.id
        </if>
        <where>
            a.del_flag = #{entity.DEL_FLAG_NORMAL}
            <if test="entity.name != null and entity.name != ''">
                AND (
                    a.number LIKE concat('%',#{entity.name},'%')
                    or a.name LIKE concat('%',#{entity.name},'%')
                    or a.py LIKE concat('%',#{entity.name},'%')
                    or a.wb LIKE concat('%',#{entity.name},'%')
                    or a.bname LIKE concat('%',#{entity.name},'%')
                    or a.bpy LIKE concat('%',#{entity.name},'%')
                    or a.bwb LIKE concat('%',#{entity.name},'%')
                    or a.zdy LIKE concat('%',#{entity.name},'%')
                )
            </if>
            <if test="entity.id != null and entity.id != ''">
                AND a.id = #{entity.id}
            </if>
            <if test="entity.number != null and entity.number != ''">
                AND a.number LIKE concat('%',#{entity.number},'%')
            </if>
            <if test="entity.registration != null and entity.registration != ''">
                AND a.registration LIKE concat('%',#{entity.registration},'%')
            </if>
            <if test="entity.chargeCode != null and entity.chargeCode != ''">
                AND a.charge_code LIKE concat('%',#{entity.chargeCode},'%')
            </if>
            <if test="entity.spec != null and entity.spec != ''">
                AND a.spec LIKE concat('%',#{entity.spec},'%')
            </if>
            <if test="entity.supplierId != null and entity.supplierId != ''">
                AND a.supplier_id = #{entity.supplierId}
            </if>
            <if test="entity.venderId != null and entity.venderId != ''">
                AND a.vender_id = #{entity.venderId}
            </if>
            <if test="entity.mergeOrderNo != null and entity.mergeOrderNo != ''">
                AND e.merge_order_no = #{entity.mergeOrderNo}
            </if>
            <if test="entity.productFlag != null and entity.productFlag != ''">
                AND a.product_flag = #{entity.productFlag}
            </if>
            <if test="entity.deviceClassification != null and entity.deviceClassification != ''">
                AND a.device_classification = #{entity.deviceClassification}
            </if>
            <if test="entity.departParentId != null and entity.departParentId != ''">
                AND a.depart_parent_id = #{entity.departParentId}
            </if>
        </where>
        ORDER BY a.update_time desc,a.create_time desc
    </select>

    <!-- 批量更新产品收费代码 -->
    <update id="updateChargeCode">
		UPDATE pd_product SET
			charge_code = #{chargeCode}
		WHERE id = #{id}
	</update>

    <!-- 校验产品编号是否唯一 -->
    <select id="verify" resultType="org.jeecg.modules.pd.entity.PdProduct">
        SELECT
        <include refid="pdProductPartColumns"/>
        FROM pd_product a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            and a.number = #{number}
            <if test="id != null and id != ''">
                AND a.id != #{id}
            </if>
            <if test="departParentId != null and departParentId != ''">
                AND a.depart_parent_id = #{departParentId}
            </if>
        </where>
    </select>


    <!-- 产品删除校验 -->
    <select id="selectListByCT" resultType="org.jeecg.modules.pd.entity.PdProduct" parameterType="org.jeecg.modules.pd.entity.PdProduct">
        SELECT
        <include refid="pdProductColumns"/>
        FROM pd_product a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
        </where>
        <if test="categoryTwo != null and categoryTwo != ''">
            and (
            a.category_one = #{categoryTwo}
            OR a.category_two = #{categoryTwo}
            )
        </if>
        <if test="groupId != null and groupId != ''">
           and a.group_id = #{groupId}
        </if>
        <if test="supplierId != null and supplierId != ''">
            and a.supplier_id = #{supplierId}
        </if>
        <if test="venderId != null and venderId != ''">
            and a.vender_id = #{venderId}
        </if>
        <if test="unitId != null and unitId != ''">
            and a.unit_id = #{unitId}
        </if>
        <if test="departId != null and departId != ''">
            AND a.depart_id = #{departId}
        </if>
        <if test="departParentId != null and departParentId != ''">
            AND a.depart_parent_id = #{departParentId}
        </if>
        order by a.create_time desc, a.update_time desc
    </select>

    <!-- 产品分类删除校验 -->
    <select id="selectListByCTs" resultType="org.jeecg.modules.pd.entity.PdCategory">
        select
        *
        from pd_product a
        <where>
            a.del_flag = #{parMap.DEL_FLAG_NORMAL}
        </where>
        <if test="parMap.ids != null and parMap.ids != ''">
           and (
            a.category_one in  ( ${parMap.ids} )
            OR a.category_two in  ( ${parMap.ids} )
            )
        </if>
        <if test="parMap.departParentId != null and parMap.departParentId != ''">
            and a.depart_parent_id = #{parMap.departParentId}
        </if>
    </select>

    <!-- 根据收费代码查询产品，精确查询 -->
    <select id="selectListByChargeCode" resultType="org.jeecg.modules.pd.entity.PdProduct" parameterType="org.jeecg.modules.pd.entity.PdProduct">
        select
        *
        from pd_product a
        <where>
            a.del_flag = #{entity.DEL_FLAG_NORMAL}
            <if test="entity.chargeCode != null and entity.chargeCode != ''">
                AND a.charge_code = #{entity.chargeCode}
            </if>
        </where>
    </select>

    <!--  修改有效期标识 -->
    <update id="updateValidityFlag">
		UPDATE pd_product SET
		 licence_validity0 = #{licenceValidity0},
		 licence_validity1 = #{licenceValidity1},
		 licence_validity2 = #{licenceValidity2},
		 licence_validity3 = #{licenceValidity3},
		 licence_validity4 = #{licenceValidity4},
		 licence_validity5 = #{licenceValidity5},
		 licence_validity6 = #{licenceValidity6},
		 licence_validity7 = #{licenceValidity7},
		 licence_validity8 = #{licenceValidity8},
		 licence_validity9 = #{licenceValidity9},
		 licence_validity10 = #{licenceValidity10},
		 licence_validity11 = #{licenceValidity11},
		 validity_flag = #{validityFlag},
		 msg_send_state = #{msgSendState}
		  where id = #{id}
	</update>
</mapper>