<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pd.mapper.PdProductMapper">

    <sql id="pdProductPartColumns">
		a.id,
        a.number,
        a.name,
        a.py,
        a.wb,
        a.bname,
        a.bpy,
        a.bwb,
        a.zdy,
        a.spec,
        a.version,
        a.unit_id,
        a.power,
        a.category_one,
        a.category_two,
        a.group_id,
        a.vender_id,
        a.supplier_id,
        a.purchase_price,
        a.selling_price,
        a.registration,
        a.description,
        a.is_charge,
        a.create_by,
        a.create_time,
        a.update_by,
        a.update_time,
        a.sys_org_code,
        a.remarks,
        a.validity_flag,
        a.del_flag
	</sql>

    <!-- 单位 -->
    <sql id="pdUnitColumns">
        b.`name` AS "unitName"
    </sql>
    <sql id="pdUnitJoins">
        LEFT JOIN pd_unit b ON a.unit_id = b.id
    </sql>

    <!-- 分类 -->
    <sql id="pdCategoryColumns">
       c.`name` AS "categoryOneName",
	   d.`name` AS "categoryTwoName"
    </sql>
    <sql id="pdCategoryJoins">
      left join pd_category c on a.category_one = c.id
      left join pd_category d on a.category_two = d.id
    </sql>

    <!-- 供应商 -->
    <sql id="pdSupplierColumns">
      e.`name` AS "supplierName"
    </sql>
    <sql id="pdSupplierJoins">
      left join pd_supplier e on a.supplier_id = e.id
    </sql>

    <!-- 生产厂家 -->
    <sql id="pdVenderColumns">
      f.`name` AS "venderName"
    </sql>
    <sql id="pdVenderJoins">
      left join pd_vender f on a.vender_id = f.id
    </sql>

    <!-- 产品条件查询 -->
    <select id="selectList" resultType="org.jeecg.modules.pd.entity.PdProduct">
        SELECT
        <include refid="pdProductPartColumns"/>,
        <include refid="pdUnitColumns"/>,
        <include refid="pdCategoryColumns"/>,
        <include refid="pdSupplierColumns"/>,
        <include refid="pdVenderColumns"/>
        FROM pd_product a
        <include refid="pdUnitJoins"/>
        <include refid="pdCategoryJoins"/>
        <include refid="pdSupplierJoins"/>
        <include refid="pdVenderJoins"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
        </where>
        <if test="name != null and name != ''">
            AND a.name LIKE concat('%',#{name},'%')
            or a.py LIKE concat('%',#{name},'%')
            or a.wb LIKE concat('%',#{name},'%')
            or a.zdy LIKE concat('%',#{name},'%')
        </if>
    </select>

    <select id="chooseProductList" resultType="org.jeecg.modules.pd.vo.PdProductPage">
        select
            a.id as productId,
            a.number as number,
            a.name as productName,
            a.unit_id as unitId,
            a.vender_id as venderId,
            a.supplier_id as supplierId,
            a.spec as spec,
            a.version as version,
            b.name as unitName,
            c.name as venderName,
            d.name as supplierName
        from pd_product a
        left join pd_unit b on a.unit_id = b.id
        left join pd_vender c on a.vender_id = c.id
        left join pd_supplier d on a.supplier_id = d.id
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <if test="name != null and name != ''">
                AND (
                    a.number LIKE concat('%',#{name},'%')
                    or a.name LIKE concat('%',#{name},'%')
                    or a.py LIKE concat('%',#{name},'%')
                    or a.wb LIKE concat('%',#{name},'%')
                    or a.bname LIKE concat('%',#{name},'%')
                    or a.bpy LIKE concat('%',#{name},'%')
                    or a.bwb LIKE concat('%',#{name},'%')
                    or a.zdy LIKE concat('%',#{name},'%')
                )
            </if>
            <if test="id != null and id != ''">
                AND a.id = #{name}
            </if>
            <if test="supplierId != null and supplierId != ''">
                AND a.supplier_id = #{supplierId}
            </if>
            <if test="venderId != null and venderId != ''">
                AND a.vender_id = #{venderId}
            </if>
        </where>
        ORDER BY a.update_time desc
    </select>
</mapper>