<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pd.mapper.PdProductStockCheckMapper">
    <sql id="PdProductStockCheckColumns">
       a.id,
       a.check_no,
       a.depart_id,
       a.check_date,
       a.check_by,
       a.should_count,
       a.check_count,
       a.profit_loss_count,
       a.check_status,
       a.audit_by,
       a.audit_date,
       a.audit_status,
       a.refuse_reason,
       a.create_time,
       a.create_by,
       a.update_time,
       a.update_by,
      a.remarks,
      a.del_flag
	</sql>

    <sql id="PdProductStockCheckJoins">
    </sql>


    <!-- 科室 -->
    <sql id="sysDepartColumns">
        f.depart_name AS "deptName"
    </sql>

    <sql id="sysDepartJoins">
        LEFT JOIN sys_depart f ON a.depart_id = f.id
    </sql>

    <!--用户-->
    <sql id="pdSysUserColumns">
        b.realname as "checkName"
	</sql>
    <sql id="pdSysUserJoins">
        LEFT JOIN sys_user b ON b.id = a.check_by
    </sql>

    <!-- 列表查询 -->
    <select id="selectList" resultType="org.jeecg.modules.pd.entity.PdProductStockCheck">
        SELECT
        <include refid="PdProductStockCheckColumns"/>,
        <include refid="pdSysUserColumns"/>,
        <include refid="sysDepartColumns"/>
        FROM pd_product_stock_check a
        <include refid="PdProductStockCheckJoins"/>
        <include refid="pdSysUserJoins"/>
        <include refid="sysDepartJoins"/>
        <where>
            a.del_flag =#{DEL_FLAG_NORMAL}
            <if test="id != null and id != ''">
                AND a.id = #{id}
            </if>
            <if test="checkNo != null and checkNo != ''">
                AND a.check_no = #{checkNo}
            </if>
            <if test="departId != null and departId != ''">
                AND a.depart_id = #{departId}
            </if>
            <if test="departParentId != null and departParentId != ''">
                AND a.depart_parent_id = #{departParentId}
            </if>
            <if test="departIdList != null and departIdList.size() > 0">
                and a.depart_id IN
                <foreach collection="departIdList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            order by create_time desc
        </where>
    </select>

    <select id="getByOne" resultType="org.jeecg.modules.pd.entity.PdProductStockCheck">
        SELECT
        <include refid="PdProductStockCheckColumns"/>,
        <include refid="pdSysUserColumns"/>,
        <include refid="sysDepartColumns"/>
        FROM pd_product_stock_check a
        <include refid="PdProductStockCheckJoins"/>
        <include refid="pdSysUserJoins"/>
        <include refid="sysDepartJoins"/>
        <where>
            a.del_flag =#{DEL_FLAG_NORMAL}
            <if test="id != null and id != ''">
                AND a.id = #{id}
            </if>
            <if test="checkNo != null and checkNo != ''">
                AND a.check_no = #{checkNo}
            </if>
            <if test="departId != null and departId != ''">
                AND a.depart_id = #{departId}
            </if>
            <if test="departParentId != null and departParentId != ''">
                AND a.depart_parent_id = #{departParentId}
            </if>
            <if test="departIdList != null and departIdList.size() > 0">
                and a.depart_id IN
                <foreach collection="departIdList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            order by create_time desc
        </where>
    </select>


    <!-- 分页列表查询 -->
    <select id="selectListByPage" resultType="org.jeecg.modules.pd.entity.PdProductStockCheck">
        SELECT
        <include refid="PdProductStockCheckColumns"/>,
        <include refid="pdSysUserColumns"/>,
        <include refid="sysDepartColumns"/>
        FROM pd_product_stock_check a
        <include refid="PdProductStockCheckJoins"/>
        <include refid="pdSysUserJoins"/>
        <include refid="sysDepartJoins"/>
        <where>
            a.del_flag =#{entity.DEL_FLAG_NORMAL}
            <if test="entity.id != null and entity.id != ''">
                AND a.id = #{entity.id}
            </if>
            <if test="entity.checkNo != null and entity.checkNo != ''">
                AND a.check_no = #{entity.checkNo}
            </if>
            <if test="entity.checkStatus != null and entity.checkStatus != ''">
                AND a.check_status = #{entity.checkStatus}
            </if>
            <if test="entity.departId != null and entity.departId != ''">
                AND a.depart_id = #{entity.departId}
            </if>
            <if test="entity.departParentId != null and entity.departParentId != ''">
                AND a.depart_parent_id = #{entity.departParentId}
            </if>
            <if test="entity.departIdList != null and entity.departIdList.size() > 0">
                and a.depart_id IN
                <foreach collection="entity.departIdList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            order by create_time desc
        </where>
    </select>


    <delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 	FROM  pd_product_stock_check 	WHERE	 check_no = #{mainId} 	</delete>

</mapper>