<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pd.mapper.PdProductStockTotalMapper">

    <sql id="pdProductStockTotalColumns">
		a.id,
		a.product_id,
		a.stock_num,
		a.depart_id,
		a.limit_up,
		a.limit_down,
		a.exp_date,
		a.exp_status,
		a.is_long,
		a.supplier_id,
		a.create_by,
		a.create_time,
		a.update_by,
		a.update_time,
		a.remarks,
		a.del_flag
	</sql>

    <sql id="pdProductStockTotalJoins">
    </sql>

    <!-- 单位 -->
    <sql id="pdUnitColumns">
        b.name AS "unitName"
    </sql>

    <sql id="pdUnitJoins">
        LEFT JOIN pd_unit b ON c.unit_id = b.id
    </sql>

    <!--产品-->
    <sql id="pdProductColumns">
		c.id as "productId",
        c.number as "number",
        c.name as "productName",
        c.spec as "spec",
        c.version as "version"
	</sql>
    <sql id="pdProductJoins">
        LEFT JOIN pd_product c ON c.id = a.product_id
    </sql>


    <!-- 科室 -->
    <sql id="sysDepartColumns">
        f.depart_name AS "deptName"
    </sql>

    <sql id="sysDepartJoins">
        LEFT JOIN sys_depart f ON a.depart_id = f.id
    </sql>

    <!-- 列表查询 -->
    <select id="selectList" resultType="org.jeecg.modules.pd.vo.PdProductStockTotalPage">
        SELECT
        <include refid="pdProductStockTotalColumns"/>,
        <include refid="pdProductColumns"/>,
        <include refid="pdUnitColumns"/>,
        <include refid="sysDepartColumns"/>
        FROM pd_product_stock_total a
        <include refid="pdProductStockTotalJoins"/>
        <include refid="pdProductJoins"/>
        <include refid="pdUnitJoins"/>
        <include refid="sysDepartJoins"/>
        <where>
            a.del_flag =#{DEL_FLAG_NORMAL} AND a.stock_num > 0
            <if test="id != null and id != ''">
                AND a.id = #{id}
            </if>
            <if test="productName != null and productName != ''">
                AND c.name = #{productName}
            </if>
            <if test="deptName != null and deptName != ''">
                AND  f.depart_name=#{deptName}
            </if>
            <if test="departId != null and departId != ''">
                AND  a.depart_id=#{departId}
            </if>
            order by  exp_status  desc,create_time desc
        </where>
    </select>



    <!--修改库存相关信息-->
    <update id="updateProductStockTotal">
        UPDATE pd_product_stock_total   SET
        <if test="limitUp !=null and limitUp !=''  ">
            limit_up = #{limitUp}
        </if>
        <if test="limitDown!=null and limitDown!='' ">
            limit_down = #{limitDown}
        </if>
        <if test="expDate!=null and expDate!='' ">
            exp_date = #{expDate}
        </if>
        <if test="expStatus!=null and expStatus!='' ">
            exp_status = #{expStatus}
        </if>
        <if test="isLong!=null and isLong!='' ">
            is_long = #{isLong}
        </if>
        WHERE 1=1
        <if test="id != null and id != ''">
            AND id = #{id}
        </if>
        <if test="departId != null and departId != ''">
            AND depart_id = #{departId}
        </if>
        <if test="productId != null and productId != ''">
            AND product_id = #{productId}
        </if>
    </update>


    <select id="findForUpdate" resultType="org.jeecg.modules.pd.entity.PdProductStockTotal">
        SELECT
        <include refid="pdProductStockTotalColumns"/>
        FROM pd_product_stock_total a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <if test="departId != null and departId != ''">
                AND a.depart_id = #{departId}
            </if>
            <if test="productId != null and productId != ''">
                AND a.product_id = #{productId}
            </if>
        </where>
        FOR UPDATE
    </select>

    <update id="updateStockNum">
		UPDATE pd_product_stock_total SET
			stock_num = #{stockNum}
		WHERE  id= #{id}
	</update>


    <update id="updateForDosagert">
        UPDATE pd_product_stock_total SET
        <if test="stockNum!=null and stockNum!='' ">
            stock_num = #{stockNum}
        </if>
        WHERE product_id = #{productId}
        AND storeroom_id = #{storeroomId}
    </update>
</mapper>