<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pd.mapper.PdPurchaseDetailMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE FROM  pd_purchase_detail 	WHERE id = #{mainId}
   </delete>

	<delete id="deleteByOrderNo" parameterType="java.lang.String">
		DELETE FROM  pd_purchase_detail 	WHERE order_no = #{orderNo}
   </delete>

	<!--根据申购编号查询明细信息-->
	<select id="selectByOrderNo" parameterType="java.lang.String" resultType="org.jeecg.modules.pd.entity.PdPurchaseDetail">
		SELECT * FROM  pd_purchase_detail	WHERE order_no = #{orderNo}
    </select>
</mapper>
