<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pd.mapper.PdPurchaseOrderMapper">
    <sql id="PdPurchaseOrderColumns">
        a.id,
        a.order_no,
        a.purchase_by,
        a.purchase_name,
        a.order_date,
        a.storeroom_id,
        a.storeroom_name,
        a.order_status,
        a.audit_by,
        a.audit_date,
        a.refuse_reason,
        a.amount_count,
        a.amount_money,
        a.submit_start,
		a.create_by,
		a.create_time,
		a.update_by,
		a.update_time,
		a.sys_org_code,
		a.remarks,
		a.del_flag
	</sql>

    <sql id="PdPurchaseOrderJoins">
    </sql>

    <!-- 列表查询 -->
    <select id="selectList" resultType="org.jeecg.modules.pd.entity.PdPurchaseOrder">
        SELECT
        <include refid="PdPurchaseOrderColumns"/>
        FROM pd_purchase_order a
        <include refid="PdPurchaseOrderJoins"/>
        <where>
            a.del_flag =#{DEL_FLAG_NORMAL}
            <if test="id != null and id != ''">
                AND a.id = #{id}
            </if>
            <if test="orderNo != null and orderNo != ''">
                AND a.order_no = #{orderNo}
            </if>
            <if test="storeroomName != null and storeroomName != ''">
                AND a.storeroom_name = #{storeroomName}
            </if>
            <if test="orderStatus != null and orderStatus != ''">
                AND a.order_status = #{orderStatus}
            </if>
            <if test="submitStart != null and submitStart != ''">
                AND a.submit_start = #{submitStart}
            </if>
        </where>
    </select>



         <!--删除状态修改-->
        <update id="deleteByMainId" parameterType="java.lang.String">
		UPDATE pd_purchase_order SET del_flag='1'  WHERE id = #{id}
       </update>
</mapper>