<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pd.mapper.PdPurchaseTempDetailMapper">

	<sql id="pdPurchaseTempDetailColumns">
		a.id,
		a.temp_no,
		a.product_id,
 		a.order_num,
 		a.create_by,
		a.create_time,
		a.update_by,
		a.update_time,
		a.sys_org_code,
 		a.remarks,
 		a.del_flag
	</sql>


	<!-- 单位 -->
	<sql id="pdUnitColumns">
        b.name AS "unitName"
    </sql>

	<sql id="pdUnitJoins">
        LEFT JOIN pd_unit b ON c.unit_id = b.id
    </sql>

	<!--产品-->
	<sql id="pdProductColumns">
		c.id as "productId",
        c.number as "number",
        c.name as "productName",
        c.spec as "spec",
        c.biding_number as "bidingNumber",
        c.purchase_price as "purchasePrice"
	</sql>
	<sql id="pdProductJoins">
        LEFT JOIN pd_product c ON c.id = a.product_id
    </sql>

	<!-- 供应商 -->
	<sql id="pdSupplierColumns">
      d.name AS "supplierName"
    </sql>
	<sql id="pdSupplierJoins">
      left join pd_supplier d on c.supplier_id = d.id
    </sql>



	<!-- 生产厂家 -->
	<sql id="pdVenderColumns">
      e.name AS "venderName"
    </sql>
	<sql id="pdVenderJoins">
      left join pd_vender e on c.vender_id = e.id
    </sql>



	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE FROM  pd_purchase_temp_detail 	WHERE id = #{mainId}
   </delete>

	<delete id="deleteByTempNo" parameterType="java.lang.String">
		DELETE FROM  pd_purchase_temp_detail 	WHERE temp_no = #{tempNo}
   </delete>

	<!--查询明细信息-->
	<select id="queryPdPurchaseTempDetail"   resultType="org.jeecg.modules.pd.entity.PdPurchaseTempDetail">
		SELECT
        <include refid="pdPurchaseTempDetailColumns"/>,
		<include refid="pdUnitColumns"/>,
		<include refid="pdProductColumns"/>,
		<include refid="pdSupplierColumns"/>,
		<include refid="pdVenderColumns"/>
		FROM  pd_purchase_temp_detail a
		<include refid="pdProductJoins"/>
		<include refid="pdUnitJoins"/>
		<include refid="pdSupplierJoins"/>
		<include refid="pdVenderJoins"/>
		WHERE   a.del_flag =#{DEL_FLAG_NORMAL}
		<if test="tempNo != null and tempNo != ''">
			AND a.temp_no LIKE concat('%',#{tempNo},'%')
		</if>
		<if test="productId != null and productId != ''">
			AND a.product_id=#{productId}
		</if>
		ORDER BY a.create_time DESC
    </select>

</mapper>
