<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pd.mapper.PdPurchaseDetailMapper">

	<sql id="pdPurchaseDetailColumns">
		a.id,
		a.order_no,
		a.product_id,
		a.purchase_price,
		a.order_num,
		a.order_money,
		a.stock_num,
		a.create_by,
		a.create_time,
		a.update_by,
		a.update_time,
		a.sys_org_code,
		a.supplier_id,
		a.remarks,
		a.arrival_num,
		a.del_flag
	</sql>

	<!-- 单位 -->
	<sql id="pdUnitColumns">
        b.name AS "unitName"
    </sql>

	<sql id="pdUnitJoins">
        LEFT JOIN pd_unit b ON c.unit_id = b.id
    </sql>

	<!--产品-->
	<sql id="pdProductColumns">
		c.id as "productId",
        c.number as "number",
        c.name as "productName",
        c.spec as "spec",
        c.version as "version",
        c.purchase_price as "purchasePrice",
        c.registration as "productRegistration",
        c.biding_number as "bidingNumber"
	</sql>
	<sql id="pdProductJoins">
        LEFT JOIN pd_product c ON c.id = a.product_id
    </sql>

	<!-- 供应商 -->
	<sql id="pdSupplierColumns">
      d.name AS "supplierName"
    </sql>
	<sql id="pdSupplierJoins">
      left join pd_supplier d on a.supplier_id = d.id
    </sql>

	<!-- 关联采购订单主表 -->
	<sql id="pdPurchaseOrderJoins">
      LEFT JOIN pd_purchase_order f  ON f.order_no=a.order_no
    </sql>

	<!-- 生产厂家 -->
	<sql id="pdVenderColumns">
      e.name AS "venderName"
    </sql>
	<sql id="pdVenderJoins">
      left join pd_vender e on c.vender_id = e.id
    </sql>

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE FROM  pd_purchase_detail 	WHERE id = #{mainId}
   </delete>

	<delete id="deleteByOrderNo" parameterType="java.lang.String">
		DELETE FROM  pd_purchase_detail 	WHERE order_no = #{orderNo}
   </delete>

	<!--查询明细信息-->
	<select id="queryPdPurchaseDetail"   resultType="org.jeecg.modules.pd.entity.PdPurchaseDetail">
		SELECT
        <include refid="pdPurchaseDetailColumns"/>,
		<include refid="pdProductColumns"/>,
		<include refid="pdUnitColumns"/>,
		<include refid="pdSupplierColumns"/>,
		<include refid="pdVenderColumns"/>
		FROM  pd_purchase_detail a
		<include refid="pdPurchaseOrderJoins"/>
		<include refid="pdProductJoins"/>
		<include refid="pdUnitJoins"/>
		<include refid="pdSupplierJoins"/>
		<include refid="pdVenderJoins"/>
		WHERE   f.del_flag =#{DEL_FLAG_NORMAL}
		<if test="mergeOrderNo != null and mergeOrderNo != ''">
			AND f.merge_order_no LIKE concat('%',#{mergeOrderNo},'%')
		</if>
		<if test="orderNo != null and orderNo != ''">
			AND a.order_no LIKE concat('%',#{orderNo},'%')
		</if>
		<if test="productId != null and productId != ''">
			AND a.product_id=#{productId}
		</if>
		<if test="orderNos != null and orderNos.size() > 0">
			and a.order_no IN
			<foreach collection="orderNos" item="item" separator="," open="(" close=")">
				#{item}
			</foreach>
		</if>
		ORDER BY a.create_time DESC
    </select>

	<!-- 增加到货数量 用于入库保存/提交 add by jiangxz 20200227 -->
	<update id="additionArrivalNum" parameterType="org.jeecg.modules.pd.entity.PdPurchaseDetail">
		UPDATE
			pd_purchase_detail
		SET
			arrival_num = IFNULL(arrival_num,0) + #{arrivalNum}
		WHERE
			del_flag =#{DEL_FLAG_NORMAL}
			and order_no = #{orderNo}
			and product_id = #{productId}
	</update>

	<!-- 扣减到货数量 用于入库拒绝 add by jiangxz 20200227 -->
	<update id="subtractArrivalNum" parameterType="org.jeecg.modules.pd.entity.PdPurchaseDetail">
		UPDATE
			pd_purchase_detail
		SET
			arrival_num = IFNULL(arrival_num,0) - #{arrivalNum}
		WHERE
			del_flag =#{DEL_FLAG_NORMAL}
			and order_no = #{orderNo}
			and product_id = #{productId}

	</update>
</mapper>
