<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pd.mapper.PdRejectedMapper">

    <select id="selectList" resultType="org.jeecg.modules.pd.entity.PdRejected" parameterType="org.jeecg.modules.pd.entity.PdRejected">

        SELECT
            a.*,
            b.depart_name as departName,
            c.NAME as supplierName
        FROM
            pd_rejected a
            LEFT JOIN sys_depart b ON a.depart_id = b.id
            LEFT JOIN pd_supplier c ON a.supplier_id = c.id
        <where>
            a.del_flag = #{entity.DEL_FLAG_NORMAL}
            <if test="entity.rejectedNo != null and entity.rejectedNo != ''">
                AND a.rejected_no LIKE concat('%',#{entity.rejectedNo},'%')
            </if>
            <if test="entity.supplierId != null and entity.supplierId != ''">
                AND a.supplier_id = #{entity.supplierId}
            </if>
            <if test="entity.departId != null and entity.departId != ''">
                AND a.depart_id = #{entity.departId}
            </if>
            <if test="entity.departParentId != null and entity.departParentId != ''">
                AND a.depart_parent_id = #{entity.departParentId}
            </if>
            <if test="entity.queryDateStart != null and entity.queryDateStart != ''">
                AND a.rejected_date &gt;= #{entity.queryDateStart}
            </if>
            <if test="entity.queryDateEnd != null and entity.queryDateEnd != ''">
                AND a.rejected_date &lt;= #{entity.queryDateEnd}
            </if>
        </where>
        order by a.create_time desc

    </select>

</mapper>