<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pd.mapper.PdStatisticalReportMapper">

    <!-- 供应商用量统计查询入库明细 -->
    <select id="rpInDetailReport" resultType="org.jeecg.modules.pd.entity.PdStockRecordDetail">
        SELECT
        a.id,
        a.record_id,
        s.`name` AS supplierName,
        b.audit_date,
        b.record_no,
        b.record_type,
        b.in_type,
        b.out_type,
        b.remarks as "remarks",
        b.supplier_id,
        pp.number as productNumber,
        pp.`name` as productName,
        pp.spec,
        pp.version,
        a.batch_no,
        a.produce_date,
        a.exp_date,
        a.product_num,
        pp.unit_id,
        pu.`name` AS unitName,
        a.product_id,
        a.selling_price,
        a.purchase_price,
        a.purchase_price * a.product_num AS inTotalPrice,
        pv.`name` AS venderName,
        g. NAME AS distributorName,
        pp.registration as productRegistration,
        pp.charge_code,
        m.invoice_no AS invoiceNo,
        m.invoice_code AS invoiceCode,
        m.invoice_data AS invoiceData,
        pp.jde_code AS jdeCode,
        pp.dart_code AS dartCode,
        pp.biding_number as bidingNumber,
        pv.jde_code AS "venderJdeCode",
        s.jde_code AS "supplierJdeCode"
        FROM
        pd_stock_record_detail a
        LEFT JOIN pd_stock_record b ON a.record_id = b.id
        LEFT JOIN pd_supplier s ON b.supplier_id = s.id
        LEFT JOIN pd_product pp ON a.product_id = pp.id
        LEFT JOIN pd_unit pu ON pp.unit_id = pu.id
        LEFT JOIN pd_vender pv ON pp.vender_id = pv.id
        LEFT JOIN pd_distributor g ON a.distributor_id = g.id
        LEFT JOIN pd_invoice_detail l ON l.bill_detail_id = a.id
        LEFT JOIN pd_invoice m ON m.id = l.invoice_id
        AND b.audit_status = '2'
        WHERE
        b.del_flag = '0'
        AND b.record_type = '1'
        AND pp.product_flag = '0'
        AND (
        b.in_type IS NOT NULL
        AND b.in_type &lt;&gt; ''
        )
        AND (
        b.supplier_id IS NOT NULL
        AND b.supplier_id &lt;&gt; ''
        )
        <if test="entity.yearMonth != null and entity.yearMonth != ''">
            AND date_format(b.audit_date,'%Y-%m') = #{entity.yearMonth}
        </if>
        <if test="entity.supplierId != null and entity.supplierId != ''">
            AND b.supplier_id = #{entity.supplierId}
        </if>
        <if test="entity.departParentId != null and entity.departParentId != ''">
            AND a.depart_parent_id = #{entity.departParentId}
        </if>
        <if test="entity.queryExpDateStart != null and entity.queryExpDateStart != ''">
            AND date_format( a.exp_date, '%Y-%m-%d') &gt;= #{entity.queryExpDateStart}
        </if>
        <if test="entity.queryExpDateEnd != null and entity.queryExpDateEnd != ''">
            AND date_format( a.exp_date, '%Y-%m-%d') &lt;= #{entity.queryExpDateEnd}
        </if>
        <if test="entity.batchNo != null and entity.batchNo != ''">
            AND a.batch_no LIKE concat('%',#{entity.batchNo},'%')
        </if>
        <if test="entity.recordNo != null and entity.recordNo != ''">
            AND b.record_no LIKE concat('%',#{entity.recordNo},'%')
        </if>
        <if test="entity.queryDateStart != null and entity.queryDateStart != ''">
            AND date_format( b.audit_date, '%Y-%m-%d') &gt;= #{entity.queryDateStart}
        </if>
        <if test="entity.queryDateEnd != null and entity.queryDateEnd != ''">
            AND date_format( b.audit_date, '%Y-%m-%d') &lt;= #{entity.queryDateEnd}
        </if>
        <if test="entity.distributorId != null and entity.distributorId != ''">
            AND b.distributor_id = #{entity.distributorId}
        </if>
        <if test="entity.productNumber != null and entity.productNumber != ''">
            AND pp.number LIKE concat('%',#{entity.productNumber},'%')
        </if>
        <if test="entity.venderId != null and entity.venderId != ''">
            AND pp.vender_id = #{entity.venderId}
        </if>
        <if test="entity.spec != null and entity.spec != ''">
            AND pp.spec LIKE concat('%',#{entity.spec},'%')
        </if>
        <if test="entity.version != null and entity.version != ''">
            AND pp.version LIKE concat('%',#{entity.version},'%')
        </if>
        <if test="entity.registration != null and entity.registration != ''">
            AND pp.registration LIKE concat('%',#{entity.registration},'%')
        </if>
        <if test="entity.productName != null and entity.productName != ''">
            AND (
            pp.number LIKE concat('%',#{entity.productName},'%')
            or pp.name LIKE concat('%',#{entity.productName},'%')
            or pp.py LIKE concat('%',#{entity.productName},'%')
            or pp.wb LIKE concat('%',#{entity.productName},'%')
            or pp.bname LIKE concat('%',#{entity.productName},'%')
            or pp.bpy LIKE concat('%',#{entity.productName},'%')
            or pp.bwb LIKE concat('%',#{entity.productName},'%')
            or pp.zdy LIKE concat('%',#{entity.productName},'%')
            )
        </if>
    </select>
    <!-- 供应商用量统计查询用量明细 -->
    <select id="rpUseDetailReport" resultType="org.jeecg.modules.pd.vo.RpUseDetailReportPage">
        SELECT
        a.id,
        a.dosage_id,
        s.`name` AS supplierName,
        b.dosage_date,
        b.dosage_no,
        b.remarks as "remarks",
        a.product_id,
        a.left_refund_num,
        a.selling_price ,
        a.selling_price * a.left_refund_num AS dosagePrice,
        ps.supplier_id,
        pp.number as productNumber,
        pp.`name` as productName,
        pp.spec,
        pp.version,
        a.batch_no,
        a.exp_date,
        pp.unit_id,
        pu.`name` AS unitName,
        pv.`name` AS venderName,
        pp.registration as productRegistration,
        pp.charge_code,
        pp.jde_code AS jdeCode,
        pp.dart_code AS dartCode,
        pp.biding_number as bidingNumber,
        pv.jde_code AS "venderJdeCode",
        s.jde_code AS "supplierJdeCode"
        FROM
        pd_dosage_detail a
        LEFT JOIN pd_dosage b ON a.dosage_id = b.id
        LEFT JOIN	pd_product_stock ps on a.product_stock_id = ps.id
        LEFT JOIN pd_supplier s ON ps.supplier_id = s.id
        LEFT JOIN pd_product pp ON a.product_id = pp.id
        LEFT JOIN pd_unit pu ON pp.unit_id = pu.id
        LEFT JOIN pd_vender pv ON pp.vender_id = pv.id
        WHERE
        b.del_flag = '0'
        AND pp.product_flag = '0'
        AND a.left_refund_num >0
        AND (
        ps.supplier_id IS NOT NULL
        AND ps.supplier_id &lt;&gt;''
        )
        <if test="entity.yearMonth != null and entity.yearMonth != ''">
            AND date_format(b.create_time,'%Y-%m') = #{entity.yearMonth}
        </if>
        <if test="entity.supplierId != null and entity.supplierId != ''">
            AND ps.supplier_id = #{entity.supplierId}
        </if>
        <if test="entity.departParentId != null and entity.departParentId != ''">
            AND a.depart_parent_id = #{entity.departParentId}
        </if>
        <if test="entity.queryExpDateStart != null and entity.queryExpDateStart != ''">
            AND date_format( a.exp_date, '%Y-%m-%d') &gt;= #{entity.queryExpDateStart}
        </if>
        <if test="entity.queryExpDateEnd != null and entity.queryExpDateEnd != ''">
            AND date_format( a.exp_date, '%Y-%m-%d') &lt;= #{entity.queryExpDateEnd}
        </if>
        <if test="entity.batchNo != null and entity.batchNo != ''">
            AND a.batch_no LIKE concat('%',#{entity.batchNo},'%')
        </if>
        <if test="entity.dosageNo != null and entity.dosageNo != ''">
            AND b.dosage_no LIKE concat('%',#{entity.dosageNo},'%')
        </if>
        <if test="entity.queryDateStart != null and entity.queryDateStart != ''">
            AND date_format( b.create_time, '%Y-%m-%d') &gt;= #{entity.queryDateStart}
        </if>
        <if test="entity.queryDateEnd != null and entity.queryDateEnd != ''">
            AND date_format( b.create_time, '%Y-%m-%d') &lt;= #{entity.queryDateEnd}
        </if>
        <if test="entity.productNumber != null and entity.productNumber != ''">
            AND pp.number LIKE concat('%',#{entity.productNumber},'%')
        </if>
        <if test="entity.venderId != null and entity.venderId != ''">
            AND pp.vender_id = #{entity.venderId}
        </if>
        <if test="entity.spec != null and entity.spec != ''">
            AND pp.spec LIKE concat('%',#{entity.spec},'%')
        </if>
        <if test="entity.version != null and entity.version != ''">
            AND pp.version LIKE concat('%',#{entity.version},'%')
        </if>
        <if test="entity.registration != null and entity.registration != ''">
            AND pp.registration LIKE concat('%',#{entity.registration},'%')
        </if>
        <if test="entity.productName != null and entity.productName != ''">
            AND (
            pp.number LIKE concat('%',#{entity.productName},'%')
            or pp.name LIKE concat('%',#{entity.productName},'%')
            or pp.py LIKE concat('%',#{entity.productName},'%')
            or pp.wb LIKE concat('%',#{entity.productName},'%')
            or pp.bname LIKE concat('%',#{entity.productName},'%')
            or pp.bpy LIKE concat('%',#{entity.productName},'%')
            or pp.bwb LIKE concat('%',#{entity.productName},'%')
            or pp.zdy LIKE concat('%',#{entity.productName},'%')
            )
        </if>
    </select>

</mapper>