<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pd.mapper.PdStoreroomPatrolMapper">

    <select id="selectList" resultType="org.jeecg.modules.pd.entity.PdStoreroomPatrol" parameterType="org.jeecg.modules.pd.entity.PdStoreroomPatrol">
        SELECT
            a.*,
            b.depart_name as patrolDepartName
        FROM
            pd_storeroom_patrol a
            LEFT JOIN sys_depart b ON a.patrol_depart_id = b.id
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <if test="patrolNo != null and patrolNo != ''">
                AND a.patrol_no LIKE concat('%',#{patrolNo},'%')
            </if>
            <if test="patrolDepartId != null and patrolDepartId != ''">
                AND a.patrol_depart_id = #{patrolDepartId}
            </if>
            <if test="queryDateStart != null and queryDateStart != ''">
                AND a.patrol_date &gt;= #{queryDateStart}
            </if>
            <if test="queryDateEnd != null and queryDateEnd != ''">
                AND a.patrol_date &lt;= #{queryDateEnd}
            </if>
        </where>

        ORDER BY
            a.patrol_date DESC
    </select>
</mapper>