<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pd.mapper.PdStockRecordMapper">

    <sql id="PdStockRecordDetailColumns">
        a.id,
        a.record_no,
        a.record_type,
        a.out_type,
        a.in_type,
        a.merge_order_no,
        a.order_no,
        a.allocation_no,
        a.apply_no,
        a.dosagert_no,
        a.submit_by,
        a.submit_date,
        a.submit_status,
        a.refuse_reason,
        a.remarks,
        a.test_result,
        a.storage_result,
        a.temperature,
        a.humidity,
        a.out_depart_id,
        a.in_depart_id,
        a.supplier_id,
        a.audit_by,
        a.audit_date,
        a.audit_status,
        a.return_status,
        a.extend1,
        a.extend2,
        a.extend3,
        a.del_flag,
        a.create_by,
        a.create_time,
        a.update_by,
        a.update_time,
        a.sys_org_code,
        a.depart_id,
        a.depart_parent_id,
        a.format,
        a.apply_by,
        a.bar_code_type
	</sql>



    <select id="selectList" resultType="org.jeecg.modules.pd.entity.PdStockRecord" parameterType="org.jeecg.modules.pd.entity.PdStockRecord">
      select
        <include refid="PdStockRecordDetailColumns"/>,
        b.depart_name as inDepartName,
        c.depart_name as outDepartName,
        d.name as supplierName,
        e.realname as submitByName,
        f.realname as auditByName
      from
        pd_stock_record a
        left join sys_depart b on a.in_depart_id = b.id
        left join sys_depart c on a.out_depart_id = c.id
        left join pd_supplier d on a.supplier_id = d.id
        left join sys_user e on a.submit_by = e.id
        left join sys_user f on a.audit_by = f.id
        <where>
            a.del_flag = #{entity.DEL_FLAG_NORMAL}
            <if test="entity.recordNo != null and entity.recordNo != ''">
                AND a.record_no LIKE concat('%',#{entity.recordNo},'%')
            </if>
            <if test="entity.recordType != null and entity.recordType != ''">
                AND a.record_type = #{entity.recordType}
            </if>
            <if test="entity.outType != null and entity.outType != ''">
                AND a.out_type = #{entity.outType}
            </if>
            <if test="entity.onlyReturn != null and entity.onlyReturn != ''">
                AND a.out_type = '4'
            </if>
            <if test="entity.exceptReturn != null and entity.exceptReturn != ''">
                AND a.out_type &lt;&gt; '4'
            </if>
            <if test="entity.inType != null and entity.inType != ''">
                AND a.in_type = #{entity.inType}
            </if>
            <if test="entity.auditStatus != null and entity.auditStatus != ''">
                AND a.audit_status = #{entity.auditStatus}
            </if>
            <if test="entity.orderNo != null and entity.orderNo != ''">
                AND a.order_no = #{entity.orderNo}
            </if>
            <if test="entity.mergeOrderNo != null and entity.mergeOrderNo != ''">
                AND a.merge_order_no = #{entity.mergeOrderNo}
            </if>
            <if test="entity.allocationNo != null and entity.allocationNo != ''">
                AND a.allocation_no = #{entity.allocationNo}
            </if>
            <if test="entity.applyNo != null and entity.applyNo != ''">
                AND a.apply_no = #{entity.applyNo}
            </if>
            <if test="entity.dosagertNo != null and entity.dosagertNo != ''">
                AND a.dosagert_no = #{entity.dosagertNo}
            </if>
            <if test="entity.submitBy != null and entity.submitBy != ''">
                AND a.submit_by = #{entity.submitBy}
            </if>
            <if test="entity.submitStatus != null and entity.submitStatus != ''">
                AND a.submit_status = #{entity.submitStatus}
            </if>
            <if test="entity.outDepartId != null and entity.outDepartId != ''">
                AND a.out_depart_id = #{entity.outDepartId}
            </if>
            <if test="entity.inDepartId != null and entity.inDepartId != ''">
                AND a.in_depart_id = #{entity.inDepartId}
            </if>
            <if test="entity.supplierId != null and entity.supplierId != ''">
                AND a.supplier_id = #{entity.supplierId}
            </if>
            <if test="entity.departId != null and entity.departId != ''">
                AND a.depart_id = #{entity.departId}
            </if>
            <if test="entity.departParentId != null and entity.departParentId != ''">
                AND a.depart_parent_id = #{entity.departParentId}
            </if>
            <if test="entity.queryDateStart != null and entity.queryDateStart != ''">
                AND a.submit_date &gt;= #{entity.queryDateStart}
            </if>
            <if test="entity.queryDateEnd != null and entity.queryDateEnd != ''">
                AND a.submit_date &lt;= #{entity.queryDateEnd}
            </if>
        </where>
        order by a.create_time desc
    </select>

    <select id="getOne" resultType="org.jeecg.modules.pd.entity.PdStockRecord" parameterType="org.jeecg.modules.pd.entity.PdStockRecord">
        select
        <include refid="PdStockRecordDetailColumns"/>,
        b.depart_name as inDepartName,
        c.depart_name as outDepartName,
        d.name as supplierName,
        e.realname as submitByName,
        f.realname as auditByName
        from
        pd_stock_record a
        left join sys_depart b on a.in_depart_id = b.id
        left join sys_depart c on a.out_depart_id = c.id
        left join pd_supplier d on a.supplier_id = d.id
        left join sys_user e on a.submit_by = e.id
        left join sys_user f on a.audit_by = f.id
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <if test="id != null and id != ''">
                AND a.id = #{id}
            </if>
            <if test="recordNo != null and recordNo != ''">
                AND a.record_no = #{recordNo}
            </if>
        </where>
    </select>



     <!--统计查询   调入明细查询-->
    <select id="selectTransferList" resultType="org.jeecg.modules.pd.entity.PdStockRecord">
        SELECT DISTINCT
        a.record_no as "recordNo",
        a.submit_date as "submitDate",
        c.depart_name as "outDepartName",
        d.depart_name as "inDepartName",
        pp.name as "productName",
        pp.number as "number",
        pp.spec as "spec",
        pp.version as "version",
        srp.product_bar_code as "productBarCode",
        srp.batch_no as "batchNo",
        srp.exp_date as "expDate",
        srp.product_num as "productNum",
        srp.remarks as "remarks",
        e.realname as "submitByName"
       FROM pd_stock_record a
       LEFT JOIN pd_stock_record_detail srp ON a.id = srp.record_id
       LEFT JOIN pd_product pp ON srp.product_id = pp.id
       LEFT JOIN pd_stock_record sr ON a.allocation_no = sr.allocation_no
       LEFT JOIN sys_depart c ON a.out_depart_id = c.id
       LEFT JOIN sys_depart d ON a.in_depart_id = d.id
       LEFT JOIN sys_user e on a.submit_by = e.id
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL} AND a.id != sr.id
            <if test="recordType != null and recordType != ''">
                AND a.record_type = #{recordType}
            </if>
            <if test="inDepartId != null and inDepartId != ''">
                AND a.in_depart_id = #{inDepartId}
            </if>
            <if test="auditStatus != null and auditStatus != ''">
                AND a.audit_status = #{auditStatus}
            </if>
            <if test="inType != null and inType != ''">
                AND a.in_type = #{inType}
            </if>
            <if test="departParentId != null and departParentId != ''">
                AND a.depart_parent_id = #{departParentId}
            </if>
            ORDER BY a.update_time DESC, a.submit_date DESC
        </where>
    </select>


    <!--统计查询   入库统计报表-->
    <select id="stockRecordReportQuery" resultType="org.jeecg.modules.pd.entity.PdStockRecord">
      select
      b.id as "productId",
      b.number as "number",
      b.name as "productName",
      b.spec as "spec",
        case
        when b.product_flag = '0' then "耗材"
        when b.product_flag = '1' then "试剂"
        end as "productFlagName",
      sum(a.product_num) as "totalSum",
		sum(a.purchase_price *  a.product_num)  as "inTotalPrice",
		c.name  as "venderName",
		d.name   as "supplierName",
        e.name as "unitName"
     from pd_stock_record_detail a
        left join pd_stock_record f on a.record_id=f.id  and f.del_flag=#{DEL_FLAG_NORMAL}
        left join pd_product b on a.product_id=b.id
        left join pd_vender c on b.vender_id=c.id
        left join pd_supplier d on b.supplier_id=d.id
        left join pd_unit e on b.unit_id=e.id
		where a.del_flag=#{DEL_FLAG_NORMAL}
        and   a.create_time > DATE_SUB(CURDATE(), INTERVAL 1 YEAR)
        and substr(a.create_time,1,7) &lt;=substr(CURDATE(),1,7)
        <if test="departParentId != null and departParentId != ''">
            AND f.depart_parent_id = #{departParentId}
        </if>
        <if test="inDepartId != null and inDepartId != ''">
            AND f.in_depart_id = #{inDepartId}
        </if>
        <if test="productName != null and productName != ''">
            AND (
            b.number LIKE concat('%',#{productName},'%')
            or b.name LIKE concat('%',#{productName},'%')
            or b.py LIKE concat('%',#{productName},'%')
            or b.wb LIKE concat('%',#{productName},'%')
            or b.bname LIKE concat('%',#{productName},'%')
            or b.bpy LIKE concat('%',#{productName},'%')
            or b.bwb LIKE concat('%',#{productName},'%')
            or b.zdy LIKE concat('%',#{productName},'%')
            )
        </if>
        <if test="number != null and number != ''">
            AND b.number LIKE concat('%',#{number},'%')
        </if>
        <if test="supplierId != null and supplierId != ''">
            AND b.supplier_id = #{supplierId}
        </if>
        <if test="spec != null and spec != ''">
            AND b.spec LIKE concat('%',#{spec},'%')
        </if>
        <if test="productFlag != null and productFlag != ''">
            AND b.product_flag = #{productFlag}
        </if>
        <if test="venderId != null and venderId != ''">
            AND b.vender_id = #{venderId}
        </if>
        <if test="registration != null and registration != ''">
            AND b.registration LIKE concat('%',#{registration},'%')
        </if>
        <if test="recordType != null and recordType != ''">
            AND f.record_type = #{recordType}
        </if>
        <if test="auditStatus != null and auditStatus != ''">
            AND f.audit_status = #{auditStatus}
        </if>
		 GROUP BY  b.number
    </select>

    <delete id="deleteById" parameterType="java.lang.String">
        DELETE
		FROM  pd_stock_record
		WHERE
			 id = #{id}
	</delete>

    <update id="deleteByDelFlag">
		UPDATE pd_stock_record
		SET
			del_flag = #{DEL_FLAG_DELETE},
			update_time =#{updateTime},
			update_by =#{updateBy}
		where
			 id = #{id}
	</update>

    <!-- 按月统计金额-->
    <select id="queryRecordViewMoney" resultType="java.util.Map" >
        select
        c.type as "type",
        ROUND(sum(c.y),2) as "金额"
        from(
        SELECT  DATE_FORMAT(x.Month, '%Y-%m') as "type" ,
        "0"   as "y"
        FROM   XNumber x
        where  x.Month > DATE_SUB(CURDATE(), INTERVAL 1 YEAR)
        and substr(x.Month,1,7) &lt;=substr(CURDATE(),1,7)
        UNION ALL
        SELECT  DATE_FORMAT(a.create_time, '%Y-%m') AS "type",
        a.product_num * a.purchase_price   AS "y"
        FROM pd_stock_record_detail a
        left join pd_stock_record b on a.record_id=b.id and  b.del_flag='0'
        where   b.record_type ='1'
        AND b.audit_status ='2'
        AND a.create_time > DATE_SUB(CURDATE(), INTERVAL 1 YEAR)
        AND substr(a.create_time,1,7) &lt;=substr(CURDATE(),1,7)
        <if test="productId != null and productId != ''">
            and  a.product_id=#{productId}
        </if>
        <if test="departParentId != null and departParentId != ''">
            AND b.depart_parent_id = #{departParentId}
        </if>
        <if test="inDepartId != null and inDepartId != ''">
            AND b.in_depart_id = #{inDepartId}
        </if>
        ) c
        GROUP BY type;
    </select>


    <!-- 按月统计数量-->
    <select id="queryRecordViewCount" resultType="java.util.Map" >
        select
        c.type as "type",
        ROUND(sum(c.y),2) as "数量"
        from(
        SELECT  DATE_FORMAT(x.Month, '%Y-%m') as "type" ,
        "0"   as "y"
        FROM   XNumber x
        where  x.Month > DATE_SUB(CURDATE(), INTERVAL 1 YEAR)
        and substr(x.Month,1,7) &lt;=substr(CURDATE(),1,7)
        UNION ALL
        SELECT  DATE_FORMAT(a.create_time, '%Y-%m') AS "type",a.product_num    AS "y"
        FROM pd_stock_record_detail a
        left join pd_stock_record b on a.record_id=b.id and  b.del_flag='0'
        where
        b.record_type ='1'
        AND b.audit_status ='2'
        AND a.create_time > DATE_SUB(CURDATE(), INTERVAL 1 YEAR)
        AND substr(a.create_time,1,7) &lt;=substr(CURDATE(),1,7)
        <if test="productId != null and productId != ''">
            and  a.product_id=#{productId}
        </if>
        <if test="departParentId != null and departParentId != ''">
            AND b.depart_parent_id = #{departParentId}
        </if>
        <if test="inDepartId != null and inDepartId != ''">
            AND b.in_depart_id = #{inDepartId}
        </if>
        ) c
        GROUP BY type;
    </select>
</mapper>