<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pd.mapper.PdSupplierMapper">

	<resultMap id="resultMap" type="org.jeecg.modules.pd.entity.PdSupplier">
		<id column="id" property="id" jdbcType="VARCHAR"></id>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="py" property="py" jdbcType="VARCHAR"/>
		<result column="wb" property="wb" jdbcType="VARCHAR"/>
		<result column="zdy" property="zdy" jdbcType="VARCHAR"/>
		<result column="create_by" property="createBy" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
		<result column="sys_org_code" property="sysOrgCode" jdbcType="VARCHAR"/>
		<result column="validity_flag" property="validityFlag" jdbcType="VARCHAR"/>
		<result column="remarks" property="remarks" jdbcType="VARCHAR"/>
		<result column="del_flag" property="delFlag" jdbcType="VARCHAR"/>
	</resultMap>

    <sql id="pdSupplierColumns">
		a.id,
		a.name,
		a.py,
		a.wb,
		a.zdy,
		a.licence_name0,
		a.licence_num0,
		a.licence_date0,
		a.licence_site0,
		a.licence_validity0,
		a.licence_name1,
		a.licence_num1,
		a.licence_date1,
		a.licence_site1,
		a.licence_validity1,
		a.licence_name2,
		a.licence_num2,
		a.licence_date2,
		a.licence_site2,
		a.licence_validity2,
		a.licence_name3,
		a.licence_num3,
		a.licence_date3,
		a.licence_site3,
		a.licence_validity3,
		a.licence_name4,
		a.licence_num4,
		a.licence_date4,
		a.licence_site4,
		a.licence_validity4,
		a.licence_name5,
		a.licence_num5,
		a.licence_date5,
		a.licence_site5,
		a.licence_validity5,
		a.licence_name6,
		a.licence_num6,
		a.licence_date6,
		a.licence_site6,
		a.licence_validity6,
		a.licence_name7,
		a.licence_num7,
		a.licence_date7,
		a.licence_site7,
		a.licence_validity7,
		a.licence_name8,
		a.licence_num8,
		a.licence_date8,
		a.licence_site8,
		a.licence_validity8,
		a.licence_name9,
		a.licence_num9,
		a.licence_date9,
		a.licence_site9,
		a.licence_validity9,
		a.licence_name10,
		a.licence_num10,
		a.licence_date10,
		a.licence_site10,
		a.licence_validity10,
		a.licence_name11,
		a.licence_num11,
		a.licence_date11,
		a.licence_site11,
		a.licence_validity11,
		a.create_by,
		a.create_time,
		a.update_by,
		a.update_time,
		a.sys_org_code,
		a.validity_flag,
		a.msg_send_state,
		a.remarks,
		a.del_flag
	</sql>

	<!-- 供应商除照片外部分字段 -->
	<sql id="pdSupplierPartColumns">
		a.id,
		a.name,
		a.py,
		a.wb,
		a.zdy,
		a.create_by,
		a.create_time,
		a.update_by,
		a.update_time,
		a.sys_org_code,
		a.validity_flag,
		a.msg_send_state,
		a.remarks,
		a.del_flag
	</sql>

    <sql id="pdSupplierJoins">
    </sql>

    <!-- 校验供应商是否唯一 -->
    <select id="verify" resultType="org.jeecg.modules.pd.entity.PdSupplier">
        SELECT
        <include refid="pdSupplierPartColumns"/>
        FROM pd_supplier a
        <include refid="pdSupplierJoins"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            and a.name = #{name}
            <if test="id != null and id != ''">
                AND a.id != #{id}
            </if>
			<if test="departParentId != null and departParentId != ''">
				AND a.depart_parent_id = #{departParentId}
			</if>
        </where>
    </select>


	<!-- 供应商条件查询 -->
	<select id="selectList"  resultMap="resultMap" resultType="org.jeecg.modules.pd.entity.PdSupplier">
		SELECT
		<include refid="pdSupplierColumns"/>
		FROM pd_supplier a
		<include refid="pdSupplierJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
		</where>
		<if test="name != null and name != ''">
			AND (a.name LIKE concat('%',#{name},'%')
			or a.py LIKE concat('%',#{name},'%')
			or a.wb LIKE concat('%',#{name},'%')
			or a.zdy LIKE concat('%',#{name},'%'))
		</if>
		<if test="validityFlag != null and validityFlag != ''">
			AND a.validity_flag = #{validityFlag}
		</if>
		<if test="departId != null and departId != ''">
			AND a.depart_id = #{departId}
		</if>
		<if test="departParentId != null and departParentId != ''">
			AND a.depart_parent_id = #{departParentId}
		</if>
		<!-- 为了查询效率 只查询十条记录该方法用于下拉选择 -->
		ORDER BY a.update_time desc,a.create_time desc
	</select>

	<!-- 供应商条件查询所有字段 用于定时任务-->
	<select id="selectAllList"  resultType="org.jeecg.modules.pd.entity.PdSupplier">
		SELECT
		<include refid="pdSupplierColumns"/>
		FROM pd_supplier a
		<include refid="pdSupplierJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
		</where>
		<if test="name != null and name != ''">
			AND (a.name LIKE concat('%',#{name},'%')
			or a.py LIKE concat('%',#{name},'%')
			or a.wb LIKE concat('%',#{name},'%')
			or a.zdy LIKE concat('%',#{name},'%'))
		</if>
	</select>


	<!--  修改有效期标识 -->
	 <update id="updateValidityFlag">
		UPDATE pd_supplier SET
		 licence_validity0 = #{licenceValidity0},
		 licence_validity1 = #{licenceValidity1},
		 licence_validity2 = #{licenceValidity2},
		 licence_validity3 = #{licenceValidity3},
		 licence_validity4 = #{licenceValidity4},
		 licence_validity5 = #{licenceValidity5},
		 licence_validity6 = #{licenceValidity6},
		 licence_validity7 = #{licenceValidity7},
		 licence_validity8 = #{licenceValidity8},
		 licence_validity9 = #{licenceValidity9},
		 licence_validity10 = #{licenceValidity10},
		 licence_validity11 = #{licenceValidity11},
		 validity_flag = #{validityFlag},
		 msg_send_state = #{msgSendState}
		  where id = #{id}
	</update>
</mapper>