<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pd.mapper.PdUnitMapper">

    <select id="queryList" resultType="org.jeecg.modules.pd.entity.PdUnit" parameterType="org.jeecg.modules.pd.entity.PdUnit">
        SELECT
            a.id,
            a.name,
            a.py,
            a.wb,
            a.zdy,
            a.create_by,
            a.create_time,
            a.update_by,
            a.update_time,
            a.remarks,
            a.del_flag,
            a.sys_org_code
        FROM pd_unit a
        <where>
                a.del_flag = #{DEL_FLAG_NORMAL}
            <if test="name != null and name != ''">
                AND ( a.name LIKE concat('%',#{name},'%')
                or a.py LIKE concat('%',#{name},'%')
                or a.wb LIKE concat('%',#{name},'%')
                or a.zdy LIKE concat('%',#{name},'%') )
            </if>
            <if test="departParentId != null and departParentId != ''">
                AND a.depart_parent_id = #{departParentId}
            </if>
        </where>
        ORDER BY a.update_time desc
    </select>

    <!-- 校验单位是否唯一 -->
    <select id="verify" resultType="org.jeecg.modules.pd.entity.PdUnit">
        SELECT
        *
        FROM pd_unit a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            and a.name = #{name}
            <if test="id != null and id != ''">
                AND a.id != #{id}
            </if>
            <if test="departParentId != null and departParentId != ''">
                AND a.depart_parent_id = #{departParentId}
            </if>
        </where>
    </select>
</mapper>