<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pd.mapper.PdUsePackageMapper">
    <select id="queryList" resultType="org.jeecg.modules.pd.entity.PdUsePackage" parameterType="org.jeecg.modules.pd.entity.PdUsePackage">
        SELECT
        a.id,
        a.code,
        a.name,
        a.sum,
        a.py,
        a.wb,
        a.zdy,
        a.create_by,
        a.create_time,
        a.update_by,
        a.update_time,
        a.remarks,
        a.del_flag,
        a.sys_org_code,
        a.depart_id,
        a.depart_parent_id
        FROM pd_use_package a
        <where>
            a.del_flag = #{entity.DEL_FLAG_NORMAL}
            <if test="entity.name != null and entity.name != ''">
                AND ( a.name LIKE concat('%',#{entity.name},'%')
                or a.py LIKE concat('%',#{entity.name},'%')
                or a.wb LIKE concat('%',#{entity.name},'%')
                or a.zdy LIKE concat('%',#{entity.name},'%') )
            </if>
            <if test="entity.code != null and entity.code != ''">
                AND a.code LIKE concat('%',#{entity.code},'%')
            </if>
            <if test="entity.departParentId != null and entity.departParentId != ''">
                AND a.depart_parent_id = #{entity.departParentId}
            </if>
            <if test="entity.departId != null and entity.departId != ''">
                AND a.depart_id = #{entity.departId}
            </if>
            <if test="entity.idList != null and entity.idList.size() > 0">
                AND a.id IN
                <foreach collection="entity.idList" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY a.update_time desc
    </select>


    <!-- 校验组别是否唯一 -->
    <select id="verify" resultType="org.jeecg.modules.pd.entity.PdUsePackage">
        SELECT
        *
        FROM pd_use_package a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            and a.code = #{code}
            and a.name = #{name}
            <if test="id != null and id != ''">
                AND a.id != #{id}
            </if>
            <if test="departParentId != null and departParentId != ''">
                AND a.depart_parent_id = #{departParentId}
            </if>
        </where>
    </select>
</mapper>